[2020-06-18 01:21] Rammehar opened #3 "How to Make Playing Video selected or highlighted from play list ?"
I tried CustomOrientationPlayer  flick-video-player  every thing worked fine but don't find how to make playing video highlighted. any suggestion would be appreciated. Thank You

[2020-06-18 05:42] ahujaraghav commented on #3
@Rammehar Can you please explain what you mean by playing video highlight?

[2020-06-18 11:49] Rammehar commented on #3
Playing video highlight means.the video which is playing , how to heightlight the name of that video.
![pic](https://user-images.githubusercontent.com/8978743/85016434-5734c980-b187-11ea-8c29-20b1abe31d22.jpeg)

[2020-06-18 12:38] ahujaraghav commented on #3
@Rammehar you can make DataManager class extend ChangeNotifier and listen to changes in the UI. Your UI will then auto-update whenever you call notifyListeners inside DataManager.

[2020-06-19 11:36] vishwajit76 opened #4 "videoFit not working"
FlickVideoWithControls videoFit not working and preview is zoomed.

![WhatsApp Image 2020-06-19 at 5 05 48 PM](https://user-images.githubusercontent.com/25575802/85128586-39329c00-b24f-11ea-871c-fae073738213.jpeg)

[2020-06-20 09:05] #3 closed

[2020-06-22 08:26] fayaz07 opened #5 "Video isn't persisting"
When the video is done playing, if we replay, then it again fetches data from internet.

[2020-06-22 14:32] ahujaraghav commented on #5
@fayaz07 In this package official [video_player](https://pub.dev/packages/video_player) by flutter is used for video playback, this package provides controls to manage the player. The network is handled by the video_player package.

[2020-06-22 14:33] #5 closed

[2020-06-22 14:55] ahujaraghav commented on #4
@vishwajit76 Please check this [example](https://github.com/GeekyAnts/flick-video-player/blob/example/custom-fit-player/example/lib/custom_fit_player/custom_fit_player.dart).

[2020-06-27 09:30] #4 closed

[2020-07-06 10:02] cadinz opened #6 "is it support playbackSpeed?"
this is awesome plugin!
GOOD!!

[2020-07-11 07:38] spyderbibek opened #7 "Regarding aspectratio"
Is there anyway to change the aspect ratio of the video player?

[2020-07-13 19:11] soyaaron opened #8 "Bigger buttons/controls on deafult player"
Hi, sorry if this is not the right place to ask, but i'd like to know if there's a simple way of making these controls bigger, thanks!
![image](https://user-images.githubusercontent.com/44642390/87343606-22fcc080-c51b-11ea-8321-5d32e656e6e9.png)

[2020-07-14 18:58] mrinaljain commented on #7
Just wrap the video player widget with an AspectRatio widget and use whatever aspect ratio you want to use.

`AspectRatio(
     aspectRatio: 16 / 9,
       child: Container(
           child: FlickVideoPlayer(),
     ),
   ),`

[2020-07-15 09:12] spyderbibek commented on #7
doesn't work like that. video content is cropped and using aspect ratio doesn't fixes that. anyways coded my own solution so this can be closed.

[2020-07-15 09:12] #7 closed

[2020-07-15 10:09] ahujaraghav commented on #6
Hi @cadinz, playback speed is not supported yet.

[2020-07-15 10:09] #6 closed

[2020-07-15 10:29] ahujaraghav commented on #8
Hi @soyaaron with Flick you can easily customise the player as per your need, in your case you can use `iconSize` property of `FlickPortraitControls` to change the control's size.

[2020-07-15 10:29] #8 closed

[2020-07-18 12:52] VickyBOSS opened #9 "Video cache not saved"
Why It buffer all the time when we rewind the video

[2020-07-20 06:53] mrinaljain opened #10 "HLS and Progressive Steaming for both iOS & Android."
Video Player does not support HLS and Progressive Steaming for both iOS & Android.
I tried using the HLS file format as an input to the video player but it does not work and shows an error in the view.
Is there a way I can stream HLS URLs in the flick video player

`flickManager = FlickManager(
      autoPlay: false,
      autoInitialize: true,
      videoPlayerController: VideoPlayerController.ne

[2020-07-21 09:09] Rammehar commented on #9
How to play offline videos ? first cache streaming videos(download) then play ?

[2020-07-23 07:18] ahujaraghav commented on #10
@mrinaljain Are you facing the issue on IOS and Android both?

[2020-07-23 07:21] ahujaraghav commented on #9
@VickyBOSS @Rammehar This is an open [issue](https://github.com/flutter/flutter/issues/28094) on the underlying video_player package we use to stream the video.

[2020-07-23 10:48] mrinaljain commented on #10
@ahujaraghav  It worked  with  formatHint: VideoFormat.other

[2020-07-26 22:24] alakreasi opened #11 "Does it support subtitles?"
Does it support subtitles?

thank you

[2020-07-26 23:41] alakreasi commented on #11
Hi, how do I set the start at 00:01:00?
I tried this but failed

NoSuchMethodError (NoSuchMethodError: The getter '_duration' was called on null.
Receiver: null
Tried calling: _duration)

thank you

[2020-07-27 06:05] ahujaraghav commented on #11
@alakreasi We do not support subtitles yet.

[2020-07-27 06:07] ahujaraghav commented on #11
@alakreasi To start the video at specific duration please try this.

` void initState() {
    super.initState();
    flickManager = FlickManager(
      videoPlayerController:
          VideoPlayerController.network(url),
    );
    flickManager.flickVideoManager.addListener(_startVideoListener);
  }

  void _startVideoListener() {
    if (flickManager.flickVideoManager.isVideoInitialized) {

[2020-07-27 06:09] ahujaraghav commented on #11
@alakreasi To start the video at specific duration please try this.
[code]

You were getting the above error because seekTo function was called before the video is initialised.

[2020-07-27 06:10] #10 closed

[2020-07-27 14:44] shailendra-rajpoot opened #12 "Plz add Live support for youtube video and speedo meter and quality options as soon as possible"
Plz add Live support for youtube video and speedo meter and quality options as soon as possible

[2020-07-27 20:05] jishant07 opened #13 "Help me extract the time when the video pauses or stops"
I was looking for alternatives to play my network video and I stumbled upon your repo it solved everything that I wanted except one thing.

I want to get the time when the pause button is pressed or the video is stopped due to some event.
If you can help me with that it will be wonderful and it will help me a lot.

Thank you

[2020-07-28 03:56] ahujaraghav commented on #13
@jishant07 Try this.

[code]

[2020-07-28 06:07] jishant07 commented on #13
Thank you so much man.
You really saved the day. Keep at it.

[2020-07-28 06:07] #13 closed

[2020-07-29 03:27] shailendra-rajpoot commented on #12
bro i m not getting you plz share code for Live support for youtube video and speedo meter and quality options

[2020-07-29 07:44] #11 closed

[2020-07-29 11:43] Gursewak-Uppal opened #15 "m3u8 format not playing."
Live video not played. Please add live video play support.

[2020-07-29 11:58] chinu999 opened #16 "how to add Listener"
i want to add listener.

flickManager.addListener(() { })

[2020-07-30 04:52] ahujaraghav commented on #16
@chinu999 you can add listeners on flickManager.flickVideoManager, flickManager.flickControlManager & flickManager.flickDisplayManager.

[2020-07-30 13:55] shailendra-rajpoot opened #17 "Plz add Live support for youtube video and speedo meter and quality options as soon as possible"
Plz add Live support for youtube video and speedo meter and quality options as soon as possible plz share code.

[2020-07-31 03:35] chinu999 commented on #16
is their any way to add value something like this.
    flickManager.flickVideoManager.addListener(() {
      if (flickManager.value.hasError) {
        print(flickManager.value.errorDescription);
      }
      if (flickManager.value.initialized) {}
      if (flickManager.value.isBuffering) {}

    });

[2020-08-01 13:22] chinu999 opened #18 "Animation Aspect Ratio"
In animation video player to fit in full screen Portrait mode it cut some video sides.
is their any way i can do it with default video player or can you please tell us what is the aspect ratio .

[2020-08-03 05:33] ahujaraghav commented on #12
@shailendra-rajpoot Live youtube video is not supported yet.

[2020-08-03 05:33] ahujaraghav commented on #17
Same as #12, closing the issue.

[2020-08-03 05:33] #17 closed

[2020-08-03 05:38] ahujaraghav commented on #18
@chinu999 you can use `videoFit` property in `FlickVideoWithControls`. Check this [example](https://github.com/GeekyAnts/flick-video-player/blob/example/custom-fit-player/example/lib/custom_fit_player/custom_fit_player.dart).

[2020-08-03 05:38] #16 closed

[2020-08-08 17:37] radi-cho opened #19 "Video feed performance."
Hello. We are attempting to use the flick video player in a big social media like product. Our main concern is the performance of the plugin and the speed of video loading in a big feed of videos. As maintainers we would love to hear from a first party:

- Should we worry about memory issues when having a big feed of videos (talking 30-100 videos).
- What are the best practises for speed optimizat

[2020-08-09 16:22] ahujaraghav commented on #19
@radi-cho Flick video player helps you create custom set of controls and players over official [video_player](https://pub.dev/packages/video_player) by Flutter. The official video player plugin currently do not support video caching and as soon as the widget is disposed all the resources used by that widget are released. The best way to do this is to create widgets on demand by using solutions lik

[2020-08-09 16:22] #18 closed

[2020-08-10 06:40] radi-cho commented on #19
Thanks. Closing as answered.
If we have additional questions we will reach out to you again.

All the best!
Radostin Cholakov

[2020-08-10 06:40] #19 closed

[2020-08-10 07:09] mrinaljain opened #20 "How do i pass dynamic start time when the video initializes ?"
I'm now developing Video player in Flutter and using Flick package
The video will be streamed with m3u8 format to the Flutter App. I would like to let the user to choose Video Quality (720p, 480p, etc.) like Youtube.
Since Flutter's video_player is based on ExoPlayer for Android under the hood, I know that ExoPlayer supports choosing Video Quality by the users.

Whenever User selects the new video

[2020-08-11 21:27] danielwalczak opened #21 "Error while using fullscreen landscape mode in listView.builder"
When I have fullscreen video player launched within listView.builder its stop working, probably because when device is rotated list item is being removed from the list, same as video player is being disposed. It working perfectly when video player its displayed outside of the listView.builder.

Any idea how solve this issue ?

[code]

Other question is it possible to support `slide down` gesture t

[2020-08-13 16:52] danielwalczak opened #22 "Android portrait fullscreen mode issue"
On android while the player is in fullscreen mode, the bottom navigation bar is not fully hidden, while in the landscape mode everything looks fine.

<img width="483" alt="Screen Shot 2020-08-13 at 9 49 53 AM" src="https://user-images.githubusercontent.com/3720039/90163297-c32c4c00-dd4a-11ea-8ea1-212a656f3376.png">

<img width="433" alt="Screen Shot 2020-08-13 at 9 51 56 AM" src="https://user-imag

[2020-08-19 06:28] shailendra-rajpoot commented on #17
Plz add Live support for youtube video and speedo meter and quality options as soon as possible
plz sir tell me how much time will it take i m waiting your rply ???

[2020-08-20 21:52] emcengineer opened #23 "How to set seek control to top of player?"
Any quick ideas?

[2020-08-21 03:20] wangchao1016 opened #24 "ios 黑屏无法播放 真机联调"
按照这个用例去写
import 'package:flutter/material.dart';
import 'package:flick_video_player/flick_video_player.dart';
import 'package:video_player/video_player.dart';

class SamplePlayer extends StatefulWidget {
  SamplePlayer({Key key}) : super(key: key);

  @override
  _SamplePlayerState createState() => _SamplePlayerState();
}

class _SamplePlayerState extends State<SamplePlayer> {
  FlickManager flick

[2020-08-21 06:16] wangchao1016 commented on #24
问题解决了

[2020-08-21 06:16] #24 closed

[2020-08-22 23:28] hktom opened #25 "Video playing without sound"
I m trying to play a video from this link https://zmky-nextcloud.sandslash.seedbox.link/s/esm5JcjaGRo7eot/download , everything works well except the sound. I got no sound.

Can you please fix that?

[2020-08-23 11:50] thapp-com-br opened #26 "Problem closing video in full screen (Navigator.pop)"
First of all congratulations on the beautiful work, it is perfectly suited to my project.

The package has a problem when displaying the video in full screen, when clicking close (Navigator.pop (context);) a black screen appears and the page does not return and the application stops working.

The problem is in this line (remembering that the error occurs only in full screen): https://github.com/Ge

[2020-08-25 04:32] mrinaljain commented on #15
@Gursewak-Uppal
It worked perfectly after adding this property
formatHint: VideoFormat.hls

[2020-08-25 05:51] Gursewak-Uppal commented on #15
Yes it's working, Thanks

[2020-08-25 05:51] #15 closed

[2020-08-26 09:53] ahujaraghav commented on #20
@mrinaljain Flick does not support this feature yet, you will have to manually handle this. You can set autoPlay to false and seek the video manually.

[2020-08-26 09:55] ahujaraghav commented on #21
@danielwalczak Can you share some code samples to help you better on this.

[2020-08-26 09:58] ahujaraghav commented on #22
@danielwalczak set systemUIOverlay parameter to empty array in FlickVideoPlayer.

[2020-08-26 10:02] ahujaraghav commented on #23
@emcengineer Code sample to play/pause video onTap of  Floating Action Button. Try something like this.

`import 'package:example/utils/mock_data.dart';
import 'package:flick_video_player/flick_video_player.dart';
import 'package:flutter/material.dart';
import 'package:video_player/video_player.dart';

class DefaultPlayer extends StatefulWidget {
  DefaultPlayer({Key key}) : super(key: key);

  @o

[2020-08-26 10:05] ahujaraghav commented on #25
@hktom Are you facing this issue on multiple devices? Also have you tried playing some other video's?

[2020-08-26 10:20] ahujaraghav commented on #26
@thapp-com-br are you facing the issue with official example app also?
Alternatively try replacing Navigator.pop(context) with  flickManager.flickControlManager.exitFullscreen()

[2020-08-26 11:06] thapp-com-br commented on #26
Yes, release also occurs.

His suggestion didn't work, he doesn't go back to the previous route, he just removes the full screen and puts it in portrait mode.

I ended up hiding the icon when he is using it in full screen (Orientation.portrait).

See what happens in the images.
![test](https://user-images.githubusercontent.com/65565758/91296385-e86d8100-e772-11ea-8087-f39284e1d2c0.png)

![Screensh

[2020-08-26 17:54] SmarttersStudio commented on #10
Cant Play m3u8 in IOS

[2020-08-26 17:55] SmarttersStudio opened #27 "Can't Play AWS CloudFront m3u8 format on IOS only"
By playing AWS cloud front video of m3u8 format it is working properly in android but in ios it is showing error without any message

[2020-08-27 05:21] ahujaraghav commented on #26
@thapp-com-br can you please elaborate about what you are trying to achieve?

[2020-08-27 09:39] thapp-com-br commented on #26
Where do I want to go, that the example you did:
https://github.com/GeekyAnts/flick-video-player/blob/master/example/lib/landscape_player/landscape_player_controls.dart#L130

Icone.close does not work if in that line:
https://github.com/GeekyAnts/flick-video-player/blob/master/example/lib/landscape_player/landscape_player.dart#L38

You replace that line:
         preferredDeviceOrientation: [

[2020-08-28 04:18] tanveer1302 opened #28 "Supporting Youtube Videos"
Does it support playing youtube videos? If not, then are there any plans for that.

Reference: https://pub.dev/packages/ext_video_player

ext_video_player plugin is basic one without much controls.

[2020-08-28 08:28] RNSuthar opened #29 "Resume Video From Last Position"
How can I listener the completion & seek-bar time.

[2020-09-05 12:38] Gursewak-Uppal commented on #27
@SmarttersStudio can you please post your code here because I'm working on same and video format m3u8 is working on both side (Android & iOS)

[2020-09-06 19:11] alihaider78222 opened #30 "In full screen video is not fitting like it does in simple Video player."

[2020-09-07 08:43] santhosh-mobile-dev opened #31 "Full screen video button and minimise button in full screen are hard to click"

[2020-09-07 21:44] danielwalczak commented on #22
in this configuration issue still exists, only in landscape mode there its not.

[code]
<img width="421" alt="Screen Shot 2020-09-07 at 5 40 54 PM" src="https://user-images.githubusercontent.com/3720039/92417731-946e7f00-f118-11ea-8220-359edb9481d7.png">

[2020-09-09 10:38] Jai05-techie commented on #6
Hi,Is Playback speed implemented ?

[2020-09-14 19:30] mananbordia opened #32 "How to Change Colour of Control icons and progress bar"

[2020-09-16 07:03] jamesmoore255 opened #33 "Support for web"
Hey,

First I just want to say thanks for the package, it's really great and easy to use.

Is support for web in the pipeline?

Thanks!

[2020-09-17 18:50] ys-sherzad opened #34 "Some videos fail to initialize"
Not sure if this flick's problem or `video_player` itself. I have built a similar example like `FlickMultiPlayer` (Feed). the video in the example (butterfly) plays fine in the Feed, but I have tried playing some other videos and some don't run at all. any help is appreciated

LOG
[code]

[2020-09-21 05:21] #23 closed

[2020-09-21 05:23] ahujaraghav commented on #28
@tanveer1302 currently youtube videos are not supported due to some technical blockers.

[2020-09-21 05:23] ahujaraghav commented on #29
https://github.com/GeekyAnts/flick-video-player/issues/20

[2020-09-21 05:25] ahujaraghav commented on #29
You can listen to changes on flickVideoManager.
```  flickManager.flickVideoManager.addListener(_videoPlayingListener);```

[2020-09-21 05:26] ahujaraghav commented on #30
@alihaider78222 can you share some screenshots and code samples.

[2020-09-21 05:47] ahujaraghav commented on #32
@mananbordia You can wrap the controls with IconTheme and provide your preferred icon settings. For Progress bar colour pass progressBarSettings to FlickPortraitControls.
Refer to [this](https://geekyants.com/blog/creating-a-customisable-video-player-in-flutter-283) article to know more about the architecture and how to customise the player.
[code]

[2020-09-21 05:48] ahujaraghav commented on #33
@jamesmoore255 yes, we are planning for the same.

[2020-09-21 05:49] ahujaraghav commented on #34
@ys-sherzad which video format are not working for you?

[2020-09-21 12:23] mrinaljain opened #35 "Hide player controls initially in autoplay mode"
Player Controls should be invisible on autoplay mode, user can tap on the video to see them.
as of now
 bool _showPlayerControls = true;    this is specifically set to true so the controls are visible for 5 seconds when the video loads which is not good as per UX.

[2020-09-21 18:22] hatemragab opened #36 "not support cache"
not support video cache please add this feature thanks for great work!

[2020-09-22 15:42] RNSuthar commented on #29
Thank you so much

On Mon 21 Sep, 2020, 10:56 AM ahujaraghav, <notifications@github.com> wrote:

[2020-09-22 20:08] AkbarBakhshi commented on #26
Hi. I am having the same problem. To reproduce it, you need to add `
                      FlickFullScreenToggle(
                        size: 20,
                      )` after `FlickSoundToggle(
                        size: 20,
                      ),` (line 122) in https://github.com/GeekyAnts/flick-video-player/blob/master/example/lib/landscape_player/landscape_player_controls.dart.

If you

[2020-09-22 22:57] hectorAguero opened #37 "How to use with Image_picker Package?"
### What's the issue?

So, I'm using **image_picker package** to pick a video file, and show with **video_player package**, based on the example code of image_picker repo

I see the different examples of Flick Video Player, and I'm achieve to show custom controls, but I have different errors in the log for the code in initState or in Dispose.

### Sample Code

The example file of the next link has

[2020-09-23 10:04] ys-sherzad commented on #34
@ahujaraghav all videos are .mp4 (downloaded from pexels.com)

[2020-09-25 14:00] sakarayajitesh opened #38 "How to prevent apps from recording the screen?"
Even though I use window.addflags(LayoutParams.FLAG_SECURE) in the MainActivity of the android file, it's only preventing in regular app but not when video is playing.

[2020-09-26 05:14] #29 closed

[2020-09-26 05:16] ahujaraghav commented on #34
@ys-sherzad where have you hosted the videos?

[2020-09-26 05:19] ys-sherzad commented on #34
@ahujaraghav I added them to the `/assets` folder

[2020-09-26 05:20] ahujaraghav commented on #36
Same as #9

[2020-09-26 05:20] #36 closed

[2020-09-28 18:21] wildsurfer commented on #35
+1

[2020-09-28 20:43] dmoss733 opened #39 "Playback speed"
It would be excellent to see playback speed added to this. The ability to slow down or speed up video would be very helpful.

[2020-09-28 20:59] dmoss733 commented on #39
Note this was added in the video player in v.11 so as long as you update that dependency you can add this functionality.

[2020-10-02 09:09] Filiponesco opened #41 "Ability to set text style for the FlickLeftDuration"
Nowadays widget FlickLeftDuration has the following parameters: fontSize and color. So i can't change: font family, fontWeight e.t.c. The ability to set text style would be good.

[2020-10-02 19:54] gulmensedat opened #42 "multi player problem"
I used 5 subordinate default players
1 player takes up approximately 3/1 of the screen.
I click on the first player, I watch the video, the top video when I land the lowest video starts to load again and the time I stop is deleted automatically. I want it protected. How do I get it?

[2020-10-11 09:25] hunglee1 opened #45 "ontap: (){}"
I need function onTap() from FlickVideoProgressBar to print(value position)

[2020-10-11 14:38] #45 closed

[2020-10-12 09:27] gulmensedat opened #46 "video CoverImage?"
hello, how can I add the video cover image to the top, so it will be the cover image before the video opens.

[2020-10-13 10:41] gamestap99 opened #47 "full screen on feed player be error with some change mode full screen video in list"

[2020-10-20 07:46] mrinaljain opened #48 "Is there a way to set buffer object values"
Is there a way to set buffer object values so that video streaming can be improved?

MIN_BUFFER_DURATION
MAX_BUFFER_DURATION
MIN_PLAYBACK_START_BUFFER
MIN_PLAYBACK_RESUME_BUFFER

[2020-10-27 08:28] alakreasi opened #49 "error when using the latest video_player package"
the package does not support the newest video_player package

[2020-10-29 04:42] leonalonso opened #50 "Video cache network / improve speed"
Can you improve the speed? So the package is useless. It is too slow. I had to put the cached_video_player back. And if you don't want to improve the speed please add the problem in the description of the package, for which I wasted a couple of hours integrating the function into my app to then have a really bad result.
Thanks

[2020-10-29 06:10] gulmensedat commented on #49
I use the old version, if there is a feature I want, I develop it myself.

[2020-10-30 07:26] #12 closed

[2020-10-30 07:27] #21 closed

[2020-10-30 07:28] #25 closed

[2020-10-30 07:28] ahujaraghav commented on #50
Same as #9

[2020-10-30 07:28] #50 closed

[2020-10-30 07:30] ahujaraghav commented on #47
@gamestap99 Please describe the issue.

[2020-10-30 07:32] ahujaraghav commented on #46
Check ```playerLoadingFallback``` in this [example](https://github.com/GeekyAnts/flick-video-player/tree/master/example/lib/animation_player).

[2020-10-30 07:33] ahujaraghav commented on #41
@Filiponesco did you try using [```DefaultTextStyle```](https://api.flutter.dev/flutter/widgets/DefaultTextStyle-class.html)?

[2020-10-30 07:36] #32 closed

[2020-10-30 07:37] #30 closed

[2020-10-30 11:30] leonalonso commented on #9
Can you improve the speed? So the package is useless. It is too slow. I had to put the cached_video_player back. And if you don't want to improve the speed please add the problem in the description of the package, for which I wasted a couple of hours integrating the function into my app to then have a really bad result.
Thanks

[2020-11-02 05:36] krisztianodor commented on #33
Any update on this?

[2020-11-02 08:28] leszekkrol opened #51 "Full screen portrait video"
Hi, When I play video in portrait mode, e.g. 1080x1920, I click watch in full screen. The application screen rotates to the landscape screen. However, the video is projected to the full width of the phone and not to the video height, so I can only see part of my video.

[2020-11-03 12:10] ahujaraghav commented on #51
@leszekkrol try changing the ```videoFit``` on ```FlickVideoWithControls```

[2020-11-03 15:33] gdg4dev opened #52 "HLS Stream (m3u8 Video) support"
It would be nice to have hls/m2u8 support

[2020-11-03 19:30] leszekkrol commented on #51
@ahujaraghav Actually the tip works fine, thank you very much 👍

[2020-11-04 08:16] leszekkrol opened #53 "attaching thumbnails"
Hi, is it possible to attach any thumbnail to a video file? My application stores these thumbnails on the server, but I have a black screen when buffering a larger video file. I would like to put a thumbnail there 🥇

[2020-11-04 08:37] leszekkrol opened #54 "Android back btn"
Is it possible to exit video in landscape mode with the android back button?

[2020-11-04 10:02] #51 closed

[2020-11-04 10:10] ahujaraghav commented on #54
This feature is enabled by default, can you share code snippets, and some Screenshots for the issue.

[2020-11-04 10:13] ahujaraghav commented on #53
You can use ```playerLoadingFallback``` on ```FlickVideoWithControls```. Checkout examples, we have loading fallback implementations.

[2020-11-04 10:14] leszekkrol commented on #54
@ahujaraghav it's weird. We implement video player in accordance with the basic guidelines from the technical documentation. Example bottom:

`import 'package:flutter/material.dart';
import 'package:flick_video_player/flick_video_player.dart';
import 'package:video_player/video_player.dart';

class SamplePlayer extends StatefulWidget {
  SamplePlayer({Key key}) : super(key: key);

  @override
  _S

[2020-11-04 10:20] ahujaraghav commented on #54
Can you try removing the WillPopScope from the class in which you embed the video.

[2020-11-04 10:29] leszekkrol commented on #54
@ahujaraghav  unfortunately for this screen it is necessary to use this component. Is there any other way to intercept this event? however, I confirm removing this component solves the issue

[2020-11-04 10:32] ahujaraghav commented on #54
@leszekkrol ok in that case try adding this code in ```onWillPop```
[code]

[2020-11-04 10:36] leszekkrol commented on #54
It will definitely be a challenge, because the screen contains a lot of smaller widgets. Nevertheless, thank you for your help :)

[2020-11-04 16:16] #53 closed

[2020-11-04 16:28] #54 closed

[2020-11-06 10:11] Zuozihao opened #55 "How can I get the time when video pause?"

[2020-11-06 11:20] ahujaraghav commented on #55
Same as #13

[2020-11-09 02:23] Zuozihao commented on #55
If I drag the progress,how can I get the correct time?Help me ,thx.

[2020-11-09 10:09] Zuozihao commented on #55
fixed with
`Duration duration =
            _flickManager.flickVideoManager.videoPlayerValue.position;`

[2020-11-09 10:09] #55 closed

[2020-11-10 03:36] msterzhang opened #56 "The subtitles are blocked in full screen."
![image](https://user-images.githubusercontent.com/31364579/98624486-e31edc00-2348-11eb-8526-f83f9c382522.png)
![image](https://user-images.githubusercontent.com/31364579/98624497-e9ad5380-2348-11eb-98e9-bfe6741cafb9.png)

[2020-11-11 11:43] leszekkrol opened #57 "Fullscreen crash"
Hello, After running a video on fullscreen we get this crash

`I/flutter (24541): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (24541): The following assertion was thrown building Container(constraints: BoxConstraints(w=320.0,
I/flutter (24541): h=320.0)):
I/flutter (24541): A VideoPlayerController was used after being disposed.
I/f

[2020-11-17 07:32] ahujaraghav commented on #56
@msterzhang can you please describe the issue

[2020-11-17 07:33] ahujaraghav commented on #57
@leszekkrol Can you share code snippets for the same.

[2020-11-17 07:36] msterzhang commented on #56
Thank you for your reply，The mobile phone screen ratio adapted by the application is 16:9, and the full-screen mobile phone screen ratio is greater than or equal to 18:9. After the video is full, it will be stretched, causing the subtitles to be blocked.

[2020-11-17 07:39] ahujaraghav commented on #56
@msterzhang did you try changing the ```videoFit``` property in fullscreen mode like this

[code]

[2020-11-17 07:42] msterzhang commented on #56
I haven't tried it like this. I will test it when I come home from a business trip, thank you!

[2020-11-19 07:56] msterzhang commented on #56
Thank you very much for your work, this is effective!

[2020-11-19 08:23] #56 closed

[2020-11-19 15:02] Hi99simon opened #58 "Play Back Speed"
I wanna use flick video player, however, found that no example for playback speed control (e.g. 2.0X/ 1.0X) on HLS video stream.
Could you please guide/ provide sample code on playback speed control?

[2020-11-19 15:02] Hi99simon commented on #52
I guess it is possible.
I used m2u8 url and possible to stream

[2020-11-25 11:44] shiv2299 commented on #7
hi can you please tell how did you solve the issue

[2020-12-02 09:03] Mohamed-Elsayed-Nadsoft commented on #52
@Hi99simon  can shared code

[2020-12-02 12:24] Mohamed-Elsayed-Nadsoft commented on #27
the same issue
@SmarttersStudio  can fix this

[2020-12-04 12:14] RalphMarvin opened #59 "How do I Unload A Video"
I have a list of videos loaded from the server. Am using this plugin to display and play the video. My problem is when remove the video from the list, it still remains on the screen i want to know a way of unloading the video. I tried calling dispose but it didn't work.

[2020-12-07 16:14] RounakTadvi commented on #27
I'm facing the same issue in iOS, the player does not displays any error while running the AWS Cloudfront m3u8 format manifest file.

[2020-12-12 19:43] adrianvintu commented on #20
@mrinaljain pretty cool what you are saying, do you have some links to show how we can allow the user to choose video quality?

@ahujaraghav how can we know when the video has loaded, so that we can start seeking and playing?

[2020-12-15 17:14] adrianvintu opened #60 "iconThemeData size not taken into account"
When I set
[code]
only the color is taken into account, but not the size.

[2020-12-15 17:19] adrianvintu opened #61 "Continue playing in background"
I would like to have a parameter that lets the player play when the app is set to background, by the HOME key.

[2020-12-15 19:32] gtroncone opened #62 "Fullscreen video doesn't rotate to landscape on iOS"
When I click the video to go fullscreen it expands into portrait up, this only happens on iOS (both a real device, via TestFlight, and a simulator), yet it works correctly on android.

These are the contents of my build function for that particular screen.

    return SingleChildScrollView(
      child: Padding(
        padding: widget.customBorder ?? EdgeInsets.zero,
        child: ClipRRect(

[2020-12-16 00:14] #62 closed

[2020-12-20 03:30] leonalonso commented on #19
I have the same problem, I have implemented it perfectly in my social app but due to this slowness I had to remove this package, returning to the classic cahed video player which will not be perfect but solves these problems, very important in a social app.

[2020-12-20 06:25] gulmensedat commented on #19
Hello, the video is being reloaded and reset, I couldn't find a solution for this. cached video player did not work for me. How do you solve it?

[2020-12-20 17:41] leszekkrol commented on #57
The problem only occurs on Android 10

[2020-12-23 10:32] izark99 opened #63 "flick_video_player 0.1.1 depends on video_player ^0.10.8+1 and no versions of flick_video_player match >0.1.1 <0.2.0, flick_video_player ^0.1.1 requires video_player ^0.10.8+1."
Because flick_video_player 0.1.1 depends on video_player ^0.10.8+1 and no versions of flick_video_player match >0.1.1 <0.2.0, flick_video_player ^0.1.1 requires video_player ^0.10.8+1.
So, because KhoPhim depends on both video_player ^0.11.1+5 and flick_video_player ^0.1.1, version solving failed.

Please update package with new video_player version.

[2021-01-02 04:31] #63 closed

[2021-01-05 02:16] macbeth95 opened #64 "How to zoom the video player?"

[2021-01-07 05:38] Jai05-techie opened #66 "How to add video subtitles ?"
Hi,

How to add video subtitles in flick video player ?

[2021-01-07 11:02] Jai05-techie opened #67 "In iOS local downlaoded m3u8 video file is not playing"
Hi,

i have tried to play downloaded m3u8 video file in iOS. Its not playing and error also not showing.

Eg:

[code]

[2021-01-07 13:46] JaimilPatel opened #68 "Small Duration Video is taking too much time to play"

[2021-01-15 06:31] optimusvish commented on #67
@Jai05-techie Same issue I am also facing any work around you got ?

[2021-01-24 20:21] aanantt opened #69 "How to Play 2 video on a screen at same time?"
I was trying to implement this by creating two flickmanager object but its giving this error
[code]

[2021-02-01 14:27] #69 closed

[2021-02-04 02:42] vipinnegi90 commented on #56
@msterzhang How did you manage to get subtitles? Is it embedded on video or different file?

[2021-02-04 02:43] vipinnegi90 commented on #66
@Jai05-techie Did you manage to get subtitles ?

[2021-02-04 02:43] msterzhang commented on #56
embedded on video

[2021-02-15 17:18] Tejareddy94 opened #70 "Multiple Videos Issue"
I have developed an app  similar to instagram in Bottom Navigation bar i have News Feed and another is Porfile both contains videos in List view so i used Indexed Stack so the issue is when i open the app. The video in Porfile is getting played even thogh the tab is not open. I have used same Multi Manger for both the Tab i.e for news Feed and Profile. i have no idea what went wrong can any one he

[2021-02-16 02:03] #70 closed

[2021-02-16 03:30] ramsmart-inno opened #71 "How to maintain AspectRatio for all video while in play mode?"

[2021-02-16 06:49] Jai05-techie commented on #66
Hi @vipinnegi90 ,

yeah i've somehow managed to achieve video subtitles in flick video player,

here is my workaround,

1.	I've used subtitle_wrapper_package -
		subtitle_wrapper_package: ^1.0.4

2.	Initialized - ```SubtitleController``` & ```FlickManager```

[code]

[2021-02-16 06:49] #66 closed

[2021-02-19 06:02] vipinnegi90 commented on #20
try this:

[code]

[2021-02-19 06:06] rizwika94 opened #72 "All videos are playing in ListView"
I have a ListView, i have added 4 videos , all the videos are playing at the same time, also tapping on mute button, makes all the videos mute. How to play one video at the time, when switching over to other videos it should stop .

[2021-02-19 06:11] vipinnegi90 opened #73 "flick_video_player 0.1.1 depends on video_player ^0.10.8+1"
Can you please update the video_player version on your plugin? AFAIK, The new video player version contains tweaks related to HLS/m3u8 playing support for iOS.

Ref: https://github.com/flutter/flutter/issues/48670#issuecomment-694866345

[2021-02-23 18:53] ali9653 commented on #72
Use VisibilityDetector

[2021-02-25 13:57] geekruchika commented on #68
Hi @JaimilPatel

Can you please give more details? e.g, video link, or duration of the video?

[2021-02-27 04:51] JaimilPatel commented on #68
@geekruchika
duration : 3 sec

[2021-02-28 11:54] abdulllrashid commented on #73
You can add this to your pubspec.yaml and get it compiled

`flick_video_player:
    git:
      url: https://github.com/abdulllrashid/flick-video-player.git`

[2021-03-15 18:23] MeAtPros opened #76 "Package update"
flick_video_player from git which depends on provider ^4.0.5, provider ^4.0.5 is required.

[2021-03-15 18:48] MeAtPros commented on #76
@gauravguha Any update?

[2021-03-16 19:56] MeAtPros commented on #76
@ahujaraghav Any update?

[2021-03-26 16:08] deut818 commented on #34
Having the same issue here what should i do

[2021-03-29 05:16] yasir-netlinks commented on #34
@deut818 Hi there, have you found a solution for the problem!

[2021-03-29 08:19] vipinnegi90 commented on #56
Okay thanks

[2021-03-31 06:37] geekruchika commented on #76
It's updated in version 0.2.0.
https://github.com/GeekyAnts/flick-video-player/tree/v0.2.0

Please feel free to open if there is any issue. Thank you.

[2021-03-31 06:37] #76 closed

[2021-03-31 06:37] geekruchika commented on #73
It's updated in version 0.2.0.
https://github.com/GeekyAnts/flick-video-player/tree/v0.2.0

Please feel free to open if there is any issue. Thank you.

[2021-03-31 06:37] #73 closed

[2021-03-31 06:51] geekruchika commented on #57
Hey @leszekkrol
Can't able to reproduce this issue on Android 10. Please try v0.2.0 and feel free to open this issue if you face the same. Thank you. Happy Coding!!

[2021-03-31 06:51] #57 closed

[2021-03-31 13:54] geekruchika commented on #39
Thanks for pointing.
This will soon be reflected in the plugin. Implementation has already done.
Track in this PR (https://github.com/GeekyAnts/flick-video-player/pull/79)
Closing this issue.

[2021-03-31 13:54] #39 closed

[2021-03-31 14:09] #58 closed

[2021-03-31 14:27] geekruchika commented on #52
I tried some m2m8 URLs from https://ottverse.com/free-hls-m3u8-test-urls/. It's working in Player v0.2.0. Let me know if there are any specific URLs not working.
Thank you. Feel free to open this issue if this still persists.

[2021-03-31 14:27] #52 closed

[2021-03-31 14:29] geekruchika commented on #27
@SmarttersStudio @RounakTadvi
Can you please provide me a sample cloud front video of m3u8 format? It'll be easy for me to debug.
Thanks.

[2021-04-01 13:40] ahujaraghav commented on #34
@yasir-netlinks @deut818 can you please share the video you are trying to play.

[2021-04-04 02:50] Kimsoer opened #80 "Can't seek auto on slide bar player"
I have problem when I seek on slide bar player, it always replay

[2021-04-05 04:46] geekruchika commented on #80
Hi @Kimsoer
Can you please share a small video clip for reference?

[2021-04-05 07:12] Kimsoer commented on #80
here is video link https://drive.google.com/file/d/187usBvMkCh58tjMi_iqxvO5ddouKH6Y6/view?usp=sharing

[2021-04-09 21:58] inc16sec opened #81 "package update to support null-safety."
I'm using this package in my project but the problem is that I have already migrated to `Flutter 2.0.3 ` and `Dart sdk: '>=2.12.0 <3.0.0'` while this package is still legacy (not supporting null-safety). Is there any chance we gonna get to see an update of the package that will support null-safety in the near future? Thank you.

[2021-04-13 07:12] kamlesh1687 commented on #34
I have the same issue with flick multi player,some videos are failed to initialize

[2021-04-14 10:09] vipinnegi90 opened #82 "iOS unable to play m3u8 file format"
In Android all files are being played without any issue, but iOS is not able to play m3u8 file format.
You can check the below link for debug:
https://4ykn7mxvnwqg-hls-push.5centscdn.com/mp4/raw/Just%20A%20Minute2/Just%20a%20min_2_FINAL_2_combined.smil/playlist.m3u8

Since m3u8 files are basically playlist for different quality format, It would be great addition in package to allow select video qu

[2021-04-16 06:29] geekruchika commented on #80
@Kimsoer

Please send a code snippet of how are you using it?

[2021-04-16 06:30] geekruchika commented on #81
Yes, We are on it. Soon we will release it.

[2021-04-16 06:57] Kimsoer commented on #80
Step 1: Initialize :
 FlickManager flickManager;
  VideoPlayerController videoPlayerController;

 videoPlayerController = VideoPlayerController.network("$url");
    flickManager = FlickManager(
      videoPlayerController: videoPlayerController,
    );

Step 2: call usage:

AspectRatio(
                        aspectRatio: 16 / 9,
                        child: FlickVideoPlayer(

[2021-04-16 08:48] inc16sec commented on #81
Glad to hear that. Thank you.

[2021-04-19 09:25] geekruchika commented on #81
It's done. Please try out.

[2021-04-19 09:25] #81 closed

[2021-04-19 09:32] geekruchika commented on #80
Are you doing any setstate() on onChange of Slide bar?
Please try to run the example app added in the plugin and let me know if you get the same issue. Thanks.
It may be implementation issue too.

[2021-04-19 09:33] geekruchika commented on #49
Package upgraded to latest video_player with Null Safety.

[2021-04-19 09:33] #49 closed

[2021-04-19 09:36] geekruchika commented on #34
What exceptions are you getting?

[2021-04-19 09:37] geekruchika commented on #27
Please track here.
https://github.com/GeekyAnts/flick-video-player/issues/82

[2021-04-19 09:37] #27 closed

[2021-04-19 09:37] geekruchika commented on #67
Please track here.
https://github.com/GeekyAnts/flick-video-player/issues/82

[2021-04-19 09:37] #67 closed

[2021-04-19 09:39] geekruchika commented on #82
Can you please share the logs you get after running m3u8 file format in iOS?

[2021-04-19 10:14] geekruchika commented on #82
@vipinnegi90
The player can able to play the m3u8 file format. I have tried several URLs (e.g: https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8).

I guess there is something specific issue to this attached URL. I'll look into it and let you know.

[2021-04-19 10:22] vipinnegi90 commented on #82
the error :
[code]

[2021-04-19 10:29] geekruchika commented on #82
Strange!
Can you please try https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8. and share logs.

[2021-04-19 13:00] vipinnegi90 commented on #82
URL you provided is playing in both Android and iOS flawlessly. Not sure why my URL is not being played only in iOS :(

[2021-04-20 05:31] inc16sec commented on #81
Looks good. Thank you so much for the package and for taking the time to maintain it.

[2021-04-22 04:11] msoham123 opened #84 "[Web] Canvaskit Rendering Does Not Open Fullscreen Properly"
![image](https://user-images.githubusercontent.com/51520568/115654396-f06fc780-a2e5-11eb-9050-97299a3fd3d2.png)

When I hit the fullscreen button on the FlickVideoPlayer widget, it expands to fill the screen but does not go into fullscreen. If I manually hit F11, it goes into full screen and replicates the expected behavior?

Is there a widget setting I am missing or is this just genuinely not wor

[2021-04-22 11:13] DineshTaral12 opened #85 "Start video on specific position"
i need to play video from specific position like udemy, how to achieve this ?

[2021-04-26 09:09] geekruchika commented on #84
Still, we have to make the player compatible with the web.
If you are working on it, PRs are always welcomed!!🙂

[2021-04-26 16:48] msoham123 commented on #84
@geekruchika I'll see what I can do but I'm not super familiar with WASM and low-level web rendering things so I don't think I could make a PR as of now. I'll keep this up so that if someone who knows how to approach this can take a look at it.

[2021-04-26 19:22] Filiponesco commented on #41
Thanks it works.

[2021-04-26 19:22] #41 closed

[2021-05-04 05:48] geekruchika commented on #31
Track here.
https://github.com/GeekyAnts/flick-video-player/issues/26

[2021-05-04 05:48] #31 closed

[2021-05-04 05:51] geekruchika commented on #37
Please try with the latest version and open this issue if still persist.
Thanks.

[2021-05-04 05:51] #37 closed

[2021-05-05 16:36] code613 commented on #70
@Tejareddy94 can you explain how you solved this issue?

[2021-05-05 22:41] code613 opened #86 "null error in current example"
when running the example package we came across this null issue each time we were trying to load a video.
![image](https://user-images.githubusercontent.com/32033575/117218616-781f0100-add1-11eb-9a96-bca6e07152d1.png)

[2021-05-05 23:14] code613 commented on #86
ok I am sorry this is a issue with video_player

[2021-05-05 23:14] #86 closed

[2021-05-07 11:09] RalphMarvin opened #87 "Videos Not Displaying Thumbnails But A Black Screen"
Sometimes my flick video shows up like in the image below:

![image](https://user-images.githubusercontent.com/15852456/117441217-91849200-af24-11eb-87a5-0006ecb7b7e7.png)

And this is the error I get:

[code]

[2021-05-07 12:19] sahilgeekyants commented on #22
@danielwalczak
I tested this issue (with flutter version 2.0.4) in different iOS and Android devices. I didn’t faced any such issue of bottom navigation bar hiding some portion screen in full screen mode. I used the exact same configuration given in the above comment.
![Android_screen](https://user-images.githubusercontent.com/60209052/117448455-67e75d00-af5c-11eb-9027-ef769bbbbedd.png)
![Android_

[2021-05-08 05:45] husen-hn opened #88 "NullPointerException for video_player on release mode"
[code]

[2021-05-10 09:29] geekruchika commented on #22
Please try updated plugin.

[2021-05-10 09:29] #22 closed

[2021-05-12 14:53] mkranus opened #90 "Exception is thrown when creating FlickManager"
[code]

**Flutter Doctor**:
[code]

[2021-05-13 10:22] MagTuxGit commented on #35
Setting _showPlayerControls to false doesn't fix this.
I hid the controls in the commit on my fork here
https://github.com/MagTuxGit/flick-video-player/commit/aa70f2d87e70e63cf29e54371ffb5bd27b883b32

[2021-05-13 11:24] geekruchika commented on #82
Closing this issue as not reproducible.

[2021-05-13 11:24] #82 closed

[2021-05-13 11:27] geekruchika commented on #71
Can you share some use case or UI screenshot of what you want to achieve?

[2021-05-13 11:31] geekruchika commented on #28
You can use Youtube explode to get playback URLs and use it in Flick player
https://pub.dev/packages/youtube_explode_dart

[2021-05-13 11:31] #28 closed

[2021-05-13 12:15] geekruchika commented on #90
Please attach a code snippet of how are you implementing it?

Can't able to reproduce it.

[2021-05-13 12:17] geekruchika commented on #72
Please check out the Feedplayer example in the example app. It's there.

[2021-05-13 12:17] #72 closed

[2021-05-13 12:17] #46 closed

[2021-05-13 12:51] geekruchika commented on #33
Yes!

Flick player has web support. Though we have to add all keyboard controls as flutter renders on canvas and will not get the default keyboard browser controls.

Please try this out and let me know if you get any issues.
Enhancement PRs always appreciated.

Closing this issue. Please create a new issue if you have rendering issues. Thanks.

[2021-05-13 12:51] #33 closed

[2021-05-13 12:54] geekruchika commented on #42
Sorry didn't get your issue. Can you please provide some demo or code snippets where you are facing this issue?

[2021-05-13 12:57] geekruchika commented on #47
Closing this issue as we didn't get much info. Thanks.

[2021-05-13 12:57] #47 closed

[2021-05-13 14:27] sahilgeekyants commented on #26
@thapp-com-br
In order to use the cancel button in portraitUp orientation :
Either you can wrap the video player with the SafeArea()
[code]
<img width="361" alt="safeArea_portraitUp_cancel" src="https://user-images.githubusercontent.com/60209052/118139074-a2516e00-b424-11eb-8f24-1d7f2d7c9b22.png">

Or you can disable the top padding which is blocking the cancel button to click in notch area by :
W

[2021-05-13 14:51] sahilgeekyants commented on #26
@AkbarBakhshi
If you want to add FlickFullScreenToggle() button and enter the full screen mode then you can-not use the same code inside cancel button onTap() function to exit the screen.
Earlier it was
[code]
But if you add full screen toggle then you can use
[code]
where you can get **controlManager** by adding this in build function :
`  FlickControlManager controlManager = Provider.of<FlickCon

[2021-05-18 13:39] mploigt opened #91 "What do I need to do if I want to display subtitles?"
I need to display the videos with subtitles in .srt format. The video_player supports this. Do you plan to integrate this functionality too?

[2021-05-18 18:11] mrinaljain opened #92 "Video player on flutter web looses it's visibility after switching to fullscreen and then exiting fullscreen."
Im using this plug-in for a web app and I'm facing the issue

Video player on flutter web looses it's visibility after  switching  to fullscreen and then exiting fullscreen.

Steps to reproduce
- Choose any examples provided in the repository and build for web.
-  see that video plays normally on virtierticalcal mode.
-  now switch to full screen and video will run properly till now
-  now exit th

[2021-05-18 18:14] mrinaljain commented on #84
Hello @msoham123  I'm facing the same issue , did you tried the html render ?

[2021-05-18 18:15] mrinaljain commented on #48
We have found a solution to this .
Thanks

[2021-05-18 22:50] msoham123 commented on #84
@mrinaljain No, I haven't. I would like to use the canvaskit renderer if possible, as it is more performant when it comes to scrolling.

This issue might be fixed once https://github.com/flutter/flutter/issues/80524#issuecomment-823060588 goes into master. We'll see.

[2021-05-20 04:56] shailendra-rajpoot opened #93 "plz app video quality options for youtube video"

[2021-05-21 04:52] mrinaljain commented on #90
@geekruchika  I am facing the exact same issue  with FlickVideoManager._changeVideo function.
The Exception Handler points to this line of code  in video_manager.dart file
` if (autoPlay && ModalRoute.of(_flickManager._context!)!.isCurrent) {
      // Start playing the video.
      _flickManager.flickControlManager!.play();
    }`

Attaching screenshot for more clearity

![Screenshot 2021-05-21 at

[2021-05-21 06:34] dongyankun commented on #26
Navigator.popUntil(context, ModalRoute.withName('name'));

[2021-05-21 10:06] mkranus commented on #90
I solved this issue by setting `autoPlay` and `autoInitialize` to `false`

[2021-05-21 16:14] ditman commented on #84
https://github.com/flutter/flutter/issues/80524 has been merged into Flutter channel `master`. I hope it helps with this issue!

[2021-05-22 05:39] msoham123 commented on #84
I just tested it with the new fix. The problem still persists. The issue is not that fullscreen is not working. The issue is that the implementation of fullscreen covers the entire browser view instead of going into "expected" fullscreen.

![image](https://user-images.githubusercontent.com/51520568/119215884-4ff7f900-ba85-11eb-8fcb-31f632b746ee.png)

For example, when you go into fullscreen, you s

[2021-05-22 07:48] mrinaljain commented on #90
Doesn't work for me , also I need to auto play my videos

[2021-05-24 10:19] geekruchika commented on #26
Feel free to open if issue still exists.

[2021-05-24 10:19] #26 closed

[2021-06-02 10:37] kalam04 opened #94 "Shortcuts , LogicalKeySet Not working"
When App run in Android Tv Play, Pause ,fast forward, fast backward not working with remote.

[2021-06-07 01:30] worldofsites opened #95 "Circular progress indicator color"
How to change default circular progress indicator color (blue)?
![image](https://user-images.githubusercontent.com/23352829/120947631-49969c00-c76a-11eb-8eb0-2215e7abf390.png)

[2021-06-08 07:18] marslannasr7koncepts opened #96 "Getting Error unable to run youtube video copy link from youtube and paste it and getting error."
E/flutter ( 1223): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: PlatformException(channel-error, Unable to establish connection on channel., null, null)
E/flutter ( 1223): #0      WakelockApi.toggle (package:wakelock_platform_interface/messages.dart:57:7)
E/flutter ( 1223): <asynchronous suspension>
E/flutter ( 1223): #1      MethodChannelWakelock.toggle (package:wakelock_plat

[2021-06-08 08:01] Bartozo opened #97 "Problem with URL's from Youtube."
**Used dependencies:**
-
-   flick_video_player: 0.3.1
-   youtube_explode_dart: 1.9.4
-  dart SDK 2.11.0

**Problem:**
-
I can't use any URL's from youtube in that video player plugin on Android devices (I Didn't test this on iOS). I have tried even using youtube_explode_dart to get url of the video, but nothing worked.
It throws me this error all the time, so I assume that video player don't kno

[2021-06-08 08:02] MeAtPros commented on #97
I noticed a similar error ... can you fix it quickly?

[2021-06-08 11:30] Bartozo commented on #28
@geekruchika  I have experienced this problem, but your solution didn't help. Could you provide more information on how to solve this issue? (here is a link to my issue just in case https://github.com/GeekyAnts/flick-video-player/issues/97)

[2021-06-19 17:36] bholendraofficial opened #98 "Error: Unexpected null value."
Unexpected null value.
    at Object.throw_ [as throw] (http://localhost:57795/dart_sdk.js:5348:11)
    at Object.nullCheck (http://localhost:57795/dart_sdk.js:5681:30)
    at video_player_web.VideoPlayerPlugin.new.seekTo (http://localhost:57795/packages/video_player_web/video_player_web.dart.lib.js:240:21)
    at seekTo.next (<anonymous>)
    at runBody (http://localhost:57795/dart_sdk.js:39250:3

[2021-06-26 18:56] mrinaljain opened #99 "[video_player_web] Videos arn't visible in Safari/Chrome on iOS"
flick_video_player can play in Mac safari normally by platform web, but when I play in phone safari, it doesn't work, only audio can be heard but there is no video visible.

following is my sample code for safari/ios, I have turned autoplay off and volume to 0 because safari does not support autoplay  of unmuted video

[code]

an  issue regarding the video_player_web was resolved   here   https://

[2021-07-01 07:44] rupamking1 opened #100 "Play video from Uint8List"
Play video from Uint8List

[2021-07-01 12:38] boris-ilic opened #101 "when i open video in full screen i cant close full screen, after that"
versions:
flick_video_player: ^0.1.1
video_player: ^0.10.12+5

first i cant update packages more than this versions,

Proble is when i press little icon in down right corner it open video in full screen, when i press again to close screen, full screen stay open, only icon change and i cand do anything only change videos.

Thanks

[2021-07-08 01:18] wesleytoshio opened #102 "FlickMultiManager error (Android Only)"
I recently came across the problem in my Feed list, when my ListView reaches a certain amount of children, the next videos on the list doesn't work, it only happens on Android
**Short list:**
![image](https://user-images.githubusercontent.com/7057737/124847330-026e1780-df71-11eb-87e3-fcc4f298e9a3.png)
**Bigger list**
![image](https://user-images.githubusercontent.com/7057737/124847386-22054000-df7

[2021-07-12 08:06] boris-ilic commented on #101
Any Information?

[2021-07-14 14:35] AhmedAbogameel commented on #101
any updates ?

[2021-07-16 12:56] kishan-entigrity opened #104 "When click on fullscreen option simulator and android physical devices changes it's orientation(landscape mode) where on iOS physical devices it's just do full screen instead of changing orientation(landscape mode)"
version:
flick_video_player: ^0.1.1

When I click on the full-screen button it will change its orientation(landscape view) on the iOS simulator & Android physical devices, but when using the same feature on iOS physical devices on any of the iPhone versions its won't change the orientation, Just stretch the video on fullscreen mode and make it center cropped. Even I have turned on auto rotation on

[2021-07-16 13:08] geekruchika commented on #95
You can pass your own loaders.

[2021-07-16 13:08] #95 closed

[2021-07-16 13:09] geekruchika commented on #102
Please share a video to reproduce it.

[2021-07-16 13:11] worldofsites commented on #95
@geekruchika Could you please share some example?

[2021-07-16 13:16] geekruchika commented on #95
Try these options.
![image](https://user-images.githubusercontent.com/32259133/125953926-2b2fe70d-da98-49f0-9da2-172b0f650f07.png)

[2021-07-16 13:17] geekruchika commented on #64
You can add external Flutter Zoom packages to achieve this. Flick Player doesn't support it.

[2021-07-16 13:17] #64 closed

[2021-07-16 13:18] #60 closed

[2021-07-16 13:19] geekruchika commented on #38
You can fork this player and try to add security in the android manifest.

[2021-07-16 13:19] #38 closed

[2021-07-16 13:21] geekruchika commented on #101
Can you please share a video to reproduce?

[2021-07-16 14:43] boris-ilic commented on #101
Hi, here is video which represent error with error log, i debug whole package and everything seems ok, if you find solution it will help me a lot. https://we.tl/t-aCohgNeIGz

[2021-07-19 06:05] worldofsites commented on #95
@geekruchika Thanks! But it would be cool if it would be possible to pass custom buffering widget as a parameter in base implementation of FlickVideoPlayer.
If someone face with same problem, create copy from FlickPortraitControls and override bufferingChild:
[code]
And in FlickPortraitControlsCustom:
[code]

[2021-07-19 07:43] geekruchika commented on #101
@boris-ilic
Please attach code snippet too.

[2021-07-19 08:04] geekruchika commented on #92
Please try this version and let us know. Still in development
https://pub.dev/packages/flick_video_player/versions/0.4.0-dev.1

[2021-07-19 08:04] #92 closed

[2021-07-19 08:08] geekruchika commented on #90
Hope the above fix solves this issue.  Please free to open if still exist.

[2021-07-19 08:08] #90 closed

[2021-07-19 09:52] geekruchika commented on #84
Please try this version. It's still in development but you can able to toggle fullscreen.
https://pub.dev/packages/flick_video_player/versions/0.4.0-dev.1

[2021-07-19 09:53] #84 closed

[2021-07-19 11:27] geekruchika commented on #104
@kishan-entigrity
Please share your code snippet to reproduce? Also can you please try the Flick player example app to check if it can be reproducible?

[2021-07-19 11:38] ankur874 opened #106 "how to use flickCurrentPosition widget"

[2021-07-19 11:39] ankur874 opened #107 "How to use FlickCurrentPosition"
FlickVideoPlayer(
          flickManager: flickManager,
        ),
FlickCurrentPosition()

I am doing thid

[2021-07-19 11:40] geekruchika commented on #107
https://github.com/GeekyAnts/flick-video-player/issues/106

[2021-07-19 11:44] ankur874 commented on #107
Maam please explain i need it urgent,its a widget but its now showing the video time.
class videoPlayer extends StatefulWidget {
  @override
  _videoPlayerState createState() => _videoPlayerState();
}

class _videoPlayerState extends State<videoPlayer> {
  late FlickManager flickManager;
   Key k=new Key('ankur');
  @override
  void initState() {
    super.initState();
    flickManager = FlickMana

[2021-07-19 11:48] ahujaraghav commented on #107
@ankur874 please refer to examples or refer [here](https://geekyants.com/blog/creating-a-customisable-video-player-in-flutter-283)

[2021-07-19 12:06] geekruchika commented on #107
@ankur874 Hope it's clear. Closing this issue.

[2021-07-19 12:06] #107 closed

[2021-07-19 12:10] ankur874 commented on #107
Maam sorry...this package is awesome but still i am confused how to get current position of a video.How to use that widget "FlickCurrentPosition".I am using it directly and it showing error.
error:-
Error: Could not find the correct Provider<FlickVideoManager> above this FlickCurrentPosition Widget

This happens because you used a `BuildContext` that does not include the provider
of your choice. T

[2021-07-19 12:15] geekruchika commented on #107
That widget is for UI to show how much duration the video is played.

[2021-07-19 12:17] geekruchika commented on #107
Your video manager will be able to give you the current position of video.
videoManager.videoPlayerValue?.position.

[2021-07-19 12:25] ankur874 commented on #107
thanks i got this..but last doubt it's showing undefined name provider?

[2021-07-19 12:37] ankur874 commented on #107
thanks a lot maam but please last doubt , where to write this code
i am getting this error.Do i have to write this code just below build of my class
error-------------------
rror: Could not find the correct Provider<FlickVideoManager> above this videoPlayer Widget

This happens because you used a `BuildContext` that does not include the provider
of your choice. There are a few common scenarios:

[2021-07-20 15:43] #104 closed

[2021-07-20 18:51] msoham123 commented on #84
@geekruchika Fullscreen is still not working on latest master and version 0.4.0-dev.1.

Flutter 2.4.0-5.0.pre.109 • channel master • https://github.com/flutter/flutter.git
Framework • revision 0874e421f7 (44 minutes ago) • 2021-07-20 13:46:04 -0400
Engine • revision f0325b6a3d
Tools • Dart 2.14.0 (build 2.14.0-332.0.dev)

The player attempts to fullscreen but stops.

[2021-07-22 09:18] xuyazhong opened #108 "Is there a plan to support airplay(iOS)？"
on iOS

[2021-07-22 11:10] ankitsaurabhinfosys opened #109 "Video Play issue"
Video pause automatic when page loads. Already set autoplay= true, but not working

[2021-07-22 11:19] geekruchika commented on #108
Currently no. But this can be part of our enhancement plan. Thanks for bringing it up.

[2021-07-22 11:19] geekruchika commented on #109
Have you tried the example app? Are you able to reproduce it their?

[2021-07-22 11:27] ankitsaurabhinfosys commented on #109
In this case, when we play 1st video it's play auto. but when we play 2nd video its play for 1 second and then get pause.

[2021-07-22 11:41] ankitsaurabhinfosys commented on #109
its working fine in flick_video_player: ^0.1.1 but in flick_video_player: ^0.3.1 it has an issue.

[2021-07-22 11:44] geekruchika commented on #109
@ankitsaurabhinfosys Thanks for your findings. Let me check it. If you find any solution, please feel free to raise PR.

[2021-07-22 11:46] ankitsaurabhinfosys commented on #109
yeah sure

[2021-07-22 11:52] geekruchika commented on #109
@ankitsaurabhinfosys Can you please share a video snippet for the issue? It's still not reproducible for me.

[2021-07-22 12:44] ankitsaurabhinfosys commented on #109
https://drive.google.com/file/d/1KRjpITDEu3jI8NE3Hq1CwcyoB6gE1rQF/view?usp=sharing

[2021-07-22 16:51] pintalubaf opened #110 "FlickVideoWithControls -> FlickAutoHideChild destroys and recreates widget on show/hide"
Hello! Thank you for such a great package.

If I create my own controls and have a widget that does network calls and retrieves data, FlickAutoHideChild is destroying and recreating the widget when it hides and shows the controls.

Is there a way to keep this widget alive? just hide/show it without destroying it? I tried with AutomaticKeepAliveMixin in it but that didn't help.

Thanks.

[2021-07-23 07:52] boris-ilic commented on #101
Thanks for helping!
video represent player and error https://we.tl/t-lVbckcdCmA

Container player(BuildContext context) {
    return Container(
      width: MediaQuery.of(context).size.width,
      child: currentUnit.videoPath != null || currentUnit.audioPath != null
          ? Container(
              child: VisibilityDetector(
                key: ObjectKey(flickManager),
                onVisi

[2021-07-23 15:22] pintalubaf commented on #110
For everyone having this issue, I made a CustomFlickAutoHideChild changing the AnimatedSwitcher to an AnimatedOpacity widget.

`import 'package:flick_video_player/flick_video_player.dart';
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';

/// AutoHide child according to timeout managed by [FlickDisplayManager].
///
/// Hides the child with [FadeAnimation].
class Cus

[2021-07-27 09:43] geekruchika commented on #110
Hey @pintalubaf
Thanks for the solution. It totally depends on the use-case you are having.

[2021-07-27 11:07] geekruchika commented on #80
@Kimsoer Let me know if you are able to resolve it. Closing this issue meanwhile. Please open if still you are stuck.

[2021-07-27 11:07] #80 closed

[2021-07-27 19:27] boris-ilic commented on #101
any updates ?

[2021-07-29 06:49] ankitsaurabhinfosys commented on #109
any solution?

[2021-07-29 11:18] Hwan-seok opened #113 "set wakelockEnabled to false makes wakelock not enabled at initState but Disables on dispose"
The `wakelockEnabled` option should control not only enabling wakelock but also disabling it because we can control it outside of this plugin

For example,
Page A(should be wakelock) => pushed to page B(using this plugin) => back to page A(should be wakelock BUT this plugin disables it from page B)

Following are `initState` and `dispose` of this plugin.
[code]

I will be happy to PR if you agree

[2021-07-29 11:54] geekruchika commented on #110
Feel free to open this issue.

[2021-07-29 11:54] #110 closed

[2021-07-29 12:00] geekruchika commented on #109
Hey @ankitsaurabhinfosys
This can be an implementation issue. Please share the code snippet of how you are using it.

[2021-07-29 12:03] geekruchika commented on #101
Try latest release.

[2021-07-29 12:29] ankitsaurabhinfosys commented on #109
import 'dart:io';
import 'dart:ui';

import 'package:dio/dio.dart';
import 'package:firebase_dynamic_links/firebase_dynamic_links.dart';
import 'package:flick_video_player/flick_video_player.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:path_provider/path_provider.dart';
import 'package:provider/provider.dart';
import 'package:share_plus/sha

[2021-07-29 12:33] ankitsaurabhinfosys commented on #109
import 'dart:io';
import 'dart:ui';

import 'package:dio/dio.dart';
import 'package:firebase_dynamic_links/firebase_dynamic_links.dart';
import 'package:flick_video_player/flick_video_player.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:path_provider/path_provider.dart';
import 'package:provider/provider.dart';
import 'package:share_plus/sha

[2021-07-29 12:47] ankitsaurabhinfosys commented on #109
and while getting video in m3u8 format the video gets blur, thumbnail not showing, All of these working in before plugin update. After that i have included video trimmer plugin to trim a video of certain seconds and upload on server

[2021-07-29 13:29] ankitsaurabhinfosys commented on #109
![Screenshot_20210729-185630](https://user-images.githubusercontent.com/78646452/127500378-1031e864-7c2e-4f5b-ac69-4827ab50b180.png)
And this issue. I have tried playing video online in m3u8 format and its working, but sometime in app is doesn't.

[2021-07-30 06:55] #113 closed

[2021-07-30 13:29] geekruchika commented on #109
Please try V0.4.0-dev.2.

[2021-07-30 13:30] geekruchika commented on #99
Thanks for pointing out. Resolved in 0.4.0-dev.2.

[2021-07-30 13:30] #99 closed

[2021-07-30 13:33] geekruchika commented on #98
Resolved in 0.4.0-dev.2.

[2021-07-30 13:33] #98 closed

[2021-07-30 13:34] geekruchika commented on #94
It's working for the web in the latest version 0.4.0-dev.2. Remote controls are yet to be implemented.

[2021-07-30 13:34] #94 closed

[2021-07-30 13:35] geekruchika commented on #102
Please try out v0.4.0-dev.2 and let us know if still reproducible. Feel free to open this issue.

[2021-07-30 13:35] #102 closed

[2021-07-30 13:36] geekruchika commented on #91
yes, we are working on it.

[2021-07-30 13:38] geekruchika commented on #68
Please try the latest version of the player. It's not reproducible.

[2021-07-30 13:38] #68 closed

[2021-07-30 13:40] geekruchika commented on #34
Closing this PR due to lack of information. Please try out the latest version and feel free to open this issue if still reproducible.

[2021-07-30 13:40] #34 closed

[2021-07-30 13:42] geekruchika commented on #59
Can you please provide more detail with code snippet & video if possible?

[2021-07-30 13:50] #20 closed

[2021-08-02 05:24] ankitsaurabhinfosys commented on #109
Tried V0.4.0-dev.2. same issue, even when we record video in portrait mode the video plays in landscape mode and orientation is not proper, This all are working in ^0.1.1 version

[2021-08-03 12:46] sachins-geekyants commented on #109
@ankitsaurabhinfosys can you create a repo to reproduce this issue and share with us.
It's hard to reproduce this way.

[2021-08-05 09:34] geekruchika commented on #48
Closing it.

[2021-08-05 09:34] #48 closed

[2021-08-05 09:36] geekruchika commented on #59
Closing it for further info. Please feel free to open it if still needed.

[2021-08-05 09:36] #59 closed

[2021-08-06 06:44] RameshKumar050190 opened #118 "video aspect ration not display properly"
https://d1wdlxthirotoy.cloudfront.net/aab64d56-7846-409f-b47f-06fb2938de58/abd3b1df-a666-41a9-8369-2bbc03791a8a/a749e3a3-377f-43db-aed9-34d00b0d5874mov?Expires=1629378207&Signature=abp0JYG1PmtQXjH2kaA~S2eEu4SH6~mrRBa-6VdoynN1~d-Q9P5doRc~W16kQ2e1mHn3gJUg6LJ28d~~eaZozl3R4vBtkHDIPZvomiEpv2vMemrE1fciNDS58kenarSaJIyqBQ1PJ7c9M2PzfKwXRO6kDZk~tzZPQBWcqJCIZwkppbFBpMCjnR0slmby5zFvfo5UtKXG6OxV8AZAEPXk2LMJcma

[2021-08-06 11:31] ankitsaurabhinfosys commented on #109
camera , flick video player. and video trimmer these 3 are used in app. Previous video trimmer i had not used, but after installing video trimmer, when i record video in portrait mode and upload on server and when i play this using flick player the video orientation changes.
https://play.google.com/store/apps/details?id=com.innoventixsolutions.talentbox can check this app which is uploaded on play

[2021-08-06 11:54] RameshKumar050190 commented on #118
original code:

- (CGAffineTransform)fixTransform:(AVAssetTrack*)videoTrack {
  CGAffineTransform transform = videoTrack.preferredTransform;
  // TODO(@recastrodiaz): why do we need to do this? Why is the preferredTransform incorrect?
  // At least 2 user videos show a black screen when in portrait mode if we directly use the
  // videoTrack.preferredTransform Setting tx to the height of the video

[2021-08-06 11:55] RameshKumar050190 commented on #118
its working fine now with these changes

[2021-08-09 09:23] ahujaraghav commented on #118
Closing the issue as its resolved.

[2021-08-09 09:23] #118 closed

[2021-08-09 09:49] milanobrenovic commented on #101
Didnt work. Any updates?

[2021-08-09 10:53] milanobrenovic commented on #101
I found a solution. The controls need to be wrapped in a `SafeArea` widget or any other widget where you can add padding to it:

[code]

[2021-08-10 14:35] chetan-cueclad commented on #101
Yeah, it is working 👍🏻.

[2021-08-15 18:06] purutechno opened #119 "Multiple network videos initialization causes index problems while playing."
List<String> _videos = [
    "https://firebasestorage.googleapis.com/v0/b/petlicloneversion.appspot.com/o/app_data%2Fone.mp4?alt=media&token=e5009207-4b65-4633-afd3-2118731ed499",
    "https://firebasestorage.googleapis.com/v0/b/petlicloneversion.appspot.com/o/app_data%2Ftwo.mp4?alt=media&token=4c7521e3-3a81-4002-b7c5-a5fac78f666e",
    "https://firebasestorage.googleapis.com/v0/b/petlicloneversio

[2021-08-15 18:10] purutechno commented on #119
Here,
The first video gets initialized i.r. video[_page] = video[0], and then when navigated to page = 1,
then same first video keeps playing,
When navigated to  page = 2,
then the video at index 1 is played .i.e video[_page] = video[1] while it should be playing video[2].

[2021-08-15 19:50] #119 closed

[2021-08-18 07:24] sanchitmit26 opened #120 "Video Showing white screen in Release mode"
Video in list  playing good  in Development mode, But when I have created Released APK, Video showing white screen on video

[2021-08-18 12:54] sanchitmit26 commented on #72
Hello Mam
But Feedplayer is not working in Release mode. Please help

[2021-08-18 13:20] geekruchika commented on #120
Hi @sanchitmit26
I tried flutter run --release and it's working fine.
Can you please elaborate the issue?

[2021-08-18 13:51] sanchitmit26 commented on #120
Hello
Thanks for reply

I just downloaded sample and its feedplayer listview working too good in debug mode but when I create signed apk and install in Android device then in feedplayer listview, white screen showing in video

![Screenshot_2021-08-18-19-14-56-92_082aea295e0e2b19157fadadca43d2cc](https://user-images.githubusercontent.com/89126601/129910119-a8d7e9e9-f672-4fd1-9807-dfb2eef21efe.jpg)

[2021-08-19 10:46] sanchitmit26 commented on #120
Waiting for help...please have a look on above issue

[2021-08-19 12:51] geekruchika commented on #120
How are you creating apk? Can you please share apk too?

[2021-08-20 05:50] sanchitmit26 commented on #120
Where I can share APK with you mam. my email id is sanchitmit26@gmail.com

[2021-08-20 05:58] geekruchika commented on #120
@sanchitmit26 Seema like you have changed some UI for the apk. E.g control bar is at the top and in our example app, it's at the bottom. You must be getting some exceptions at the terminal for sure. Please try to track that.

[2021-08-20 06:20] geekruchika commented on #120
@sanchitmit26 Seema like you have changed some UI for the apk. E.g control bar is at the top and in our example app, it's at the bottom. You must be getting some exceptions at the terminal for sure. Please try to track that.

[2021-08-23 03:48] Hwan-seok commented on #90
@geekruchika Why is this issue closed though the PR is not merged?

[2021-08-23 04:54] Hwan-seok commented on #90
This happens frequently yet, I think any code is changed since this issue.
We should autoinitialize and autoplay feature and also not encountering null check operator error.

[2021-08-23 05:23] geekruchika commented on #120
@sanchitmit26 Let me know if we can close this issue.

[2021-08-23 05:27] geekruchika commented on #61
We are not supporting video playing in the background. Can you please give us any use-case for this?

[2021-08-23 09:04] adrianvintu commented on #61
I have an app that plays my own videos store on my own server.

They are like podcasts.

People could listen to them on the bus, but forcing them to keep the screen open is extremely unfriendly.

Even I don't listen to podcasts with the screen on.

[2021-08-23 12:04] geekruchika commented on #61
For podcasts, I guess we should audio player. Video players playing in the background may hamper performances issues.

[2021-08-23 15:31] adrianvintu commented on #61
Like podcasts. Using images that people need to see from time to time.

Do you maybe know if Chewie player support this feature?

[2021-08-24 07:37] thealteria opened #121 "Video keeps playing ever after disposing the flickermanager and the page is disposed"
The video just keeps on playing even after the page is got disposed. What should I do to resolve this?

[2021-08-24 12:32] geekruchika commented on #120
Feel free to open if required. Thanks.

[2021-08-24 12:32] #120 closed

[2021-08-24 12:33] geekruchika commented on #121
Please provide code snippet of implementation and video to reproduce it.

[2021-08-24 12:35] geekruchika commented on #87
Feel free to reopen if required.

[2021-08-24 12:35] #87 closed

[2021-08-24 12:36] geekruchika commented on #42
Feel free to reopen if required.

[2021-08-24 12:36] #42 closed

[2021-08-24 12:37] geekruchika commented on #71
Feel free to reopen if required.

[2021-08-24 12:37] #71 closed

[2021-08-24 14:03] geekruchika commented on #91
Hi @mploigt
Here you go!
Try out version 0.4.0-dev.3.

[2021-08-24 14:03] #91 closed

[2021-08-25 06:21] geekruchika commented on #97
[code]

This worked for me. Please feel free to open the issue if needed.

[2021-08-25 06:21] #97 closed

[2021-08-25 09:41] callmejm commented on #35
+1 , this is very good lib so far, need this feature

[2021-08-25 15:36] Bartozo commented on #97
We have abandoned using this plugin. In that moment I can't confirm if your solution works or no't.
Could you provide your solution with an example widget?

[2021-08-26 08:17] callmejm opened #123 "Feature : Vertical Fullscreen Not Fit"
First my question was how to portrait fullscreen, then I found other related issue already raise.

     preferredDeviceOrientationFullscreen:[
        DeviceOrientation.portraitUp,
     ],

However, after portrait fullscreen,  the video not fit to it ratio, and look stretch

![image](https://user-images.githubusercontent.com/6957533/130931542-1345457c-44ed-4e06-817c-c01b4fd4f6cf.png)

[2021-08-26 08:49] #123 closed, assigned to nobody

[2021-08-30 08:42] callmejm opened #125 "can't show dialog / modal when fullscreen"
I wish to show a dialog / modal when press a button in fullscreen, but it wont appear inside fullscreen, it show outside of fullscreen

     showGeneralDialog(
        barrierLabel: "Barrier",
        barrierDismissible: true,
        barrierColor: Colors.black.withOpacity(0.5),
        transitionDuration: Duration(milliseconds: 300),
        context: context,
        useRootNavigator: false,

[2021-09-01 08:10] thealteria commented on #121
[code]

Sorry for the late reply, here's the code snippet. I'm getting the list of URLs from the previous screen.
So when I play a video from the list and goes back, the `flickManager` is not disposing the video keeps playing in the background. It only stops when I exits from the app.

[2021-09-02 13:37] callmejm opened #127 "stream stop when FlickAutoHideChild hidden"
I have a stream to display certain message if reach certain duration, however the stream stopped when FlickAutoHideChild is hidden

    FlickAutoHideChild(
      autoHide: true,
      showIfVideoNotInitialized: false,
      child: Column(
        crossAxisAlignment: CrossAxisAlignment.stretch,
        children: [
          StreamBuilder<Duration>(
            stream: _currentDuration,

[2021-09-07 08:53] ankitsaurabhinfosys opened #128 "Iphone issue"
can't able to play video in iphone, only audio is playable, but video not, and after recording video from iphone, the thumbnail shows black and video not playable

[2021-09-07 11:18] callmejm commented on #88
I using `0.4.0-dev.3` still facing this issue

[2021-09-07 11:27] callmejm opened #129 "orientation issue"
I when toggle fullscreen landscape, it begin with landscape then immediately fallback to portrait fullscreen

https://user-images.githubusercontent.com/6957533/132488751-9c20ecb1-3cff-4e97-8407-d1b20968a59f.mp4

[2021-09-09 09:53] Gursewak-Uppal opened #130 "iPhone and Android Web controller disappear sissue"
After video started and 2 sec later the pause and other buttons (Controllers) are disappear on the video screen, I cannot stop/start the video by touching the screen. The video buttons do not appear when I touch the screen to stop the video.

[2021-09-13 14:58] mploigt commented on #91
Thank you! I will try this out right now.

[2021-09-14 10:45] Shakhboz95 opened #131 "no swipe gesture works to go to previouse page"
After implementation flick video player, it was disabled going to previous screen by swiping. When I remove the video player, swiping works. I am using default size of video, not fullscreen

Any suggestion for this?

[2021-09-15 05:19] callmejm opened #132 "[Urgent] iOS fullscreen white bar"
When entering fullscreen on iOS, there is a white bar blocking the top left corner of the screen.

![x](https://user-images.githubusercontent.com/6957533/133374931-16f4c14f-7fff-4d34-8c3b-945e2bcd9ca2.jpeg)

**Slow Motion Video**

https://user-images.githubusercontent.com/6957533/133374998-5f48b055-c5b7-4412-b253-df693cffb4dc.mp4

I have try to inspect the widget to see where this white bar locate

[2021-09-15 05:20] #127 closed

[2021-09-15 05:41] callmejm commented on #132
it is the `FlutterStatusbarcolor.setStatusBarColor(Colors.white);` making the issue, closing this.

[2021-09-15 05:41] #132 closed

[2021-09-16 07:57] #128 closed

[2021-09-20 12:47] TejasShukalPlutustec commented on #129
Did you find the solution of this issue?

[2021-09-23 01:39] lulumeimei opened #133 "Not compatible with provider ^6.0.0"
Because no versions of flick_video_player match >0.3.1 <0.4.0 and flick_video_player 0.3.1 depends on provider ^5.0.0, flick_video_player ^0.3.1 requires provider ^5.0.0.
And because flutter_bloc >=7.2.0 depends on provider ^6.0.0, flick_video_player ^0.3.1 is incompatible with flutter_bloc >=7.2.0.

[2021-09-24 13:20] intraector commented on #133
Same here

[2021-09-27 08:09] geekruchika commented on #129
Can you please provide code snippet? I have tried example app. It's working fine.

[2021-09-27 08:10] geekruchika commented on #129
Hi @callmejm
Can you please provide code snippet? I have tried example app. It's working fine.

[2021-09-27 08:11] geekruchika commented on #133
Soon will be upgrading packages.

[2021-09-27 10:53] callmejm commented on #129
I found the issue because , full screen control I using `HookWidget` , meaning `flick-video-player` `initState` might call twice or more, when `initState` default DeviceOrientation are portrait , so when trying to fullscreen state reinitialize

[2021-10-06 12:59] geekruchika commented on #133
Please try the updated version: https://pub.dev/packages/flick_video_player/versions/0.4.0-dev.4

Provider updated to the latest.

[2021-10-06 12:59] #133 closed

[2021-10-06 13:03] #129 closed

[2021-10-06 13:15] geekruchika commented on #100
You can try this.

[code]
https://stackoverflow.com/questions/65821003/flutter-web-playing-uint8list-n-videoplayer

Can't do much from the player side as Flick is dependent on video_player internally.

[2021-10-06 14:42] geekruchika commented on #121
Hi @thealteria
Something wrong with CustomListViewWidget I guess.
You can check out the example app where we have implemented the exact scenario.

[2021-10-06 14:48] geekruchika commented on #109
@ankitsaurabhinfosys
can you just share the video URLs, please?
We need something to reproduce this.

[2021-10-06 14:51] geekruchika commented on #131
Please share the code snippet.

[2021-10-08 13:45] dryasbk opened #139 "both provider ^6.0.1 and flick_video_player ^0.3.1, version solving failed"
Because flick_video_player 0.3.1 depends on provider ^5.0.0 and no versions of flick_video_player match >0.3.1 <0.4.0, flick_video_player ^0.3.1 requires provider ^5.0.0.
So, because my app depends on both provider ^6.0.1 and flick_video_player ^0.3.1, version solving failed.
pub get failed (1; So, because my app depends on both provider ^6.0.1 and flick_video_player ^0.3.1, version solving failed

[2021-10-09 12:22] ap26091995 commented on #109
Solved by using image picker plugin via getVideo method.

[2021-10-09 21:39] dryasbk commented on #139
if I use   flick_video_player: ^0.3.1 it gives the error
when I did pub outdated it changed to
flick_video_player: ^0.4.0-dev.4
and worked???

[2021-10-12 05:12] geekruchika commented on #139
Yes latest version is ^0.4.0-dev.4.

[2021-10-12 06:26] knowsach commented on #125
@callmejm you can try out this package ([overlay_dialog](https://pub.dev/packages/overlay_dialog) ) to show dialogs on overlay.

[2021-10-12 07:23] #139 closed

[2021-10-13 10:03] ap26091995 opened #140 "Hide controls after autoplay"
Want to hide controls after autoplay,  In android its working but in IOS it's continuously shows controls but when we tap on player it get hide.

[2021-10-13 11:19] geekruchika commented on #121
Closing this for now. Please open if you are still stuck.

[2021-10-13 12:15] ap26091995 commented on #140
yes, but the problem is auto hide controls working in android devices, it's not working on ios device

[2021-10-21 15:25] NaikSoftware commented on #101
This behaviour can be reproduced when your video is horisontal and in fullscreen app rotates with the video. In this case video player under layer with full screen video also rotates and disposes, because Flutter rebuild all widgets on rotate.

[2021-10-21 15:30] NaikSoftware opened #142 "[FEATURE REQUEST] Swipe to dismiss fullscreen video"
When video opened in fullscreen mode (overlay) I want to cancel by swipe.
Possible solutions:
 - simple gesture detector over player
 - wrap into SwipeToDismiss if it is possible
 - other variant in comments

[2021-10-21 15:40] NaikSoftware opened #143 "Fullscreen mode not working when player in "feed""
I used example "feed" with flick multi manager. All working great, but when I open landscape video in fullscreen then all app rebuilds and item widgets also disposes and inits new. When this occurs foregraund layer stay to use disposed flickmanager and crashes.

[2021-10-26 16:12] mohdtaha60 opened #144 "FlickMultiPlayer: How to make sure one Video is paused before other gets played"
In implementing feeds using the example code, i face the issue where even if one video is playing, on-scroll other will also played without pausing it.

[2021-10-29 05:38] #144 closed, assigned to nobody

[2021-10-30 10:17] adrianvintu commented on #95
The circular progress indicator is using the accent color, afaik. There were some emulators and maybe even phones that showed blue color - maybe after a flutter upgrade? Now it's back to accent color.

[2021-10-30 10:23] adrianvintu opened #145 "Infinite circular progress on IOS 15, even for empty link"
I  try to play different videos on iphone v15 and i only get an infinite circular widget.

When I set link = "" I get no error message, only infinite circular widget.

    flickManager = FlickManager(
      //getPlayerControlsTimeout: _getPlayerControlsTimeout,
      //reset variable
      onVideoEnd: onVideoEnd,
      videoPlayerController: VideoPlayerController.network(link),
      autoPlay: pau

[2021-10-31 12:36] adrianvintu commented on #145
I have tested the `DefaultPlayer` class using `mock_data.dart` and it seems only `The Valley` is playing.

Device is: iPhone Mini 12 with Software Version 15.1

[2021-10-31 13:12] adrianvintu commented on #145
I have tested on Safari and none of the links are played. They show an infinite circle loading.

[2021-10-31 15:29] adrianvintu commented on #145
More feedback.
1. Infinite circular progress on IOS 15, even for empty link. The URLs I tried to play in my app contained spaces, so I needed to set `link = Uri.encodeFull("my link");`
No more issue on my videos.
2. The issue about only `The Valley` playing is still on.

[2021-11-02 08:58] mohdtaha60 opened #146 "URGENT: FlickMultiplayer not pauses video immediately when the video is not visible."
**Code**: issue exist on [example](https://github.com/GeekyAnts/flick-video-player/tree/master/example) project

FlickMultiplayer have a logic where if one video plays, another video gets paused, but if the video is the last one, and we have another type of widget below, it needs to scroll much before it get pause.

For an example, if i have a feeds of video and images, Then if i cross video first

[2021-11-02 12:15] vaibhav-awasthi-6718 opened #147 "Video Play"
Not play in iOS Device..

[2021-11-06 10:25] geekruchika commented on #145
Ok, I will try on iOS 15.
Any error logs can you please share?

[2021-11-06 10:30] adrianvintu commented on #145
Sorry, no logs unfortunately.

[2021-11-12 13:20] NehaKushwah993 commented on #52
This Url is not working : https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8

[2021-11-12 13:22] NehaKushwah993 opened #148 "M3U8 Video not getting played in Chrome/Web"
Hi,

following m3u8 is not getting played in Web :

https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8

getting error in player.

[2021-11-15 06:48] rupeshdashtech opened #149 "Caching issue when try pull to refresh then it load showing video with new data also, So unable to load new video."
Hi @geekruchika,
First of all thanks to providing this amazing plugin, but there is an issue in this, when we try to refresh UI using pull to refresh then on new data it shows previous showing video, so new video not able to show. Please help to get out from this issue.

Thanks

[2021-11-17 09:57] abdmhamzah commented on #148
my network video also not getting loaded with this with this cool plugins
I use this plugin on flutter web and use safari to perform the test, there is error

Unhandled Promise Rejection: NotAllowedError: The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.

[2021-11-23 07:30] NehaKushwah993 commented on #148
same for me!

[2021-11-23 16:27] NehaKushwah993 commented on #99
Seeing same issue, for m3u8 videos in Safari of iPhone.

[2021-11-23 16:38] mrinaljain commented on #99
@NehaKushwah993
Try using video_player_web_hls plugin.
It will serve your purpose.

Thanks

[2021-11-25 00:05] claudiooliveira opened #150 "Problem watching multiple videos"
I have an app that plays videos like TikTok (using PageView.builder), after some time of using the app the screen looks like this:

![image](https://user-images.githubusercontent.com/5809408/143327441-3a386df5-32cb-43fc-b3f4-f82ca081d775.png)

The problem occurs randomly after I watch some videos, since from that moment on, no videos are loaded anymore, even though I go back to videos that were al

[2021-11-25 05:19] NehaKushwahIgnite commented on #99
Hi, Thanks for the reply.
video_player_web_hls: ^0.1.11+2  is already used, but still getting issue only in iOS Safari, only audio no video.

[2021-11-25 09:11] ashishignitesol commented on #99
mp4 plays fine but not m3u8

[2021-11-25 13:12] #148 closed

[2021-11-25 15:47] NehaKushwahIgnite commented on #99
Also its working fine with normal VideoPlayer (flutter), but not with Flicker.

[2021-11-26 09:08] SandeepJatthap opened #151 "Video End Issue"
When we enter video player page and suddenly get back to previous page, it call onVideoEnd of the FlickManager even if the video not started and ended yet.

[2021-12-13 22:24] ayberkcal opened #152 "[QUESTION] Remove Fullscreen Button"
I would like to remove just fullscreen action button however I could not found any setting about that. Does package support that?

[2021-12-14 19:26] ayberkcal commented on #90
I'va faced same issue. And solved with this issue by setting autoPlay and autoInitialize to false. I think there is a some hidden bug :/

[2021-12-23 07:13] mrinaljain opened #153 "[ Android TV] Flick Video Controls does not work with TV Remote when the app runs on android TV"
I am trying to build a video player app for android tv. The Flick player works well in TV but the Play , Pause operations are not happening with the help of TV remote.

[2021-12-30 13:40] Happ2y commented on #63
nayamat_app depends on both flick_video_player ^0.3.1 and provider ^6.0.2, version solving failed

[2022-01-06 10:58] IJEENI commented on #152
find flick_full_screen_toggle.dart , return Sizedbox widget instead of GestureDetector.

[2022-01-08 17:37] geocine commented on #153
I need this as well , support for remote control events. I expect that I could also scrub through the video progress bar and be able to mute.

[2022-01-08 17:43] geocine opened #155 "How to Start in landscape and fullscreen mode?"
How do I start in landscape and fullscreen mode, I do not see it in as  options on  `FlickManager`

[2022-01-08 18:00] geocine commented on #155
I was able to figure this out by checking the `example/lib/custom_orientation_player`

[2022-01-08 18:00] #155 closed

[2022-01-08 18:36] geocine opened #156 "How to get rid of circular progress bar"
I have tried creating my custom control however I cannot get rid of the circular progress bar. It is showing under my play button when I launch a video.

![image](https://user-images.githubusercontent.com/507464/148655633-8df1ecff-fe56-4514-9c54-8af7f44d4043.png)

[code]

[2022-01-11 02:56] changkuanlai opened #157 "web"
![3831641869236_ pic_hd](https://user-images.githubusercontent.com/22167353/148873138-4d7ff80b-17e3-4fc8-8dea-cf1953a59584.jpg).
hi
 When I use web build on windows, this will happen

[2022-01-21 17:53] #150 closed

[2022-01-24 02:59] msterzhang opened #158 "handleChangeVideo change hls url erro!"
[code]

my code
[code]

[2022-02-08 13:34] Ghayyas opened #159 "How can I get play and pause event"
Hello,
I'm using this plugin for the video. I want to call a Dialog when the user clicks on the play button and if he clicks confirms only then the video should play. Otherwise, the video should stop.

How can I add this kind of functionality?

Thanks!

[2022-02-14 07:19] geekruchika commented on #158
Hi @msterzhang Can you please pass me the URL?

[2022-02-14 07:20] geekruchika commented on #157
Hi @changkuanlai
Can you please share me the hosted link to verify it?

[2022-02-14 07:22] geekruchika commented on #152
No @ayberkcal .
You can fork the package and hide the fullscreen action button.

[2022-02-14 07:22] #152 closed

[2022-02-16 09:55] mohdtaha60 opened #160 "Make WillPopScope optional in favour of Swipe to Go back gesture in IOS"
Firstly, Thanks for this amazing library.,
I noticed one issue with FlickVideoPlayer, When implemented in a screen where going back is possible.
The WillPopScope disables the Swipe to go back gesture of IOS, Hence one cannot go back while having video player in screen.
This can be resolved by making onWillPop optional for FullScreen
i.e.

    return WillPopScope(
      onWillPop: _overlayEntry !=

[2022-02-17 05:26] geekruchika commented on #160
Hi @mohdtaha60
Thanks for pointing this out. PR is highly appreciated. We can keep keep a track for your contribution.

[2022-02-17 06:01] mohdtaha60 commented on #160
Added PR #161

[2022-02-21 07:00] geekruchika commented on #145
@adrianvintu Please try the latest version with custom hosted URLs and let me know if still exists.

[2022-02-21 13:59] adrianvintu commented on #145
@geekruchika what is the latest version and what is "custom hosted URLs"?

[2022-02-22 10:34] MilanPatelBacancy opened #162 "Always get false value in isVideoInitialized parameter"
Value not change event video change in PageView builder

flickManager.flickVideoManager.isVideoInitialized value always false

[2022-02-23 13:23] r4rinshadnk commented on #92
Video player on flutter web looses it's visibility after switching to fullscreen and then exiting fullscreen, issue not solved

[2022-03-04 17:38] LucaJeevanjee commented on #101
I'm getting this too, I do not have landscape mode for app but when I go fullscreen it rotates and then gets stuck

[2022-03-10 04:10] Ghayyas commented on #121
I'm having the same issue.

[2022-03-17 10:15] 6456647 commented on #149
你好 请问解决了吗 我现在也有同样的问题

[2022-03-17 10:16] 6456647 opened #163 "怎么设置视频封面"
怎么设置视频封面图呢

[2022-03-25 10:17] ArpanaSwarnkar opened #164 "Always showing buffering indicator when forwarding video from seekbar and play"
![image](https://user-images.githubusercontent.com/17845189/160100504-e70a4b2a-3993-40f6-85fe-a5d4cd54236c.png)

Hi, this buffering circular progress indicator coming when i play video using seekbar (directly played video from 00:05 to 10:00). Video is playing but this circular progress indicator also rotating.

These are the version i am using:
flick_video_player: ^0.3.1
video_player_web_hls: ^0.

[2022-03-29 09:02] AshishRajeshBhosale opened #165 "PlatformException Error in this Function"
I have used this function but it cant work properly. I have a comes Unhandled Exception: PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error this error when video is open and shows the black screen on video container and did not played it. Please give me a better solution about this issue that hoe to solve it? this

[2022-03-30 04:57] anandyadav21219 commented on #85
yes, I am also looking for this solution.

[2022-04-24 02:26] 6456647 opened #166 "支持倍速播放吗"
支持倍速播放吗

[2022-05-04 15:29] paulsarknas1 opened #167 "Screen Keeps Going to Sleep"
Hello, no matter what I do, when the video is playing, the screen keeps going to sleep.  Please advise on how to keep the screen "on" when playing video in full screen.

Thanks!
Paul

[2022-05-05 22:19] Joseph-Nathan opened #168 "add quality support ."
add quality support  , as Map<name,url> .

[2022-05-07 00:50] Joseph-Nathan opened #169 "add startAt Duration in Initialize"
when i change  quality i can't start at same duration .

thanks

[2022-05-07 00:50] Joseph-Nathan commented on #159
any news ?

[2022-05-07 00:52] Joseph-Nathan commented on #153
any news ?

[2022-05-07 07:48] mrinaljain commented on #153
I have made my own tv control on top of flickportrait controlls with the help of flutter's rawkeyboard event detector.
It works perfectly fine on TV.

[2022-05-15 09:28] Joseph-Nathan commented on #99
i have the same problem ,( Web on Chrome on Mac )
and when i change the url_source it work 2 audio in same moment and previous video ,
and when i popup the 2 audio still work ( not dispose )

[2022-06-06 03:20] Alade5673 opened #170 "mute video when loaded"
please how can I mute te video when loaded, until users taps on it before it unmutes?

How can I make the videos autoplay?

[2022-06-13 13:39] Ashish-Raturi opened #172 "youtube video from url"
First of all thanks men, I like your plugins.
I have a request can you add code, for getting videos from youtube URLs.

example url =
https://www.youtube.com/watch?v=IB7b3S3W8RI

[2022-06-15 07:20] Zeeshan0201 commented on #159
any update here?

[2022-06-15 10:30] Div-47 opened #173 "release a new version with new flutter video player feature."
hello Devs, the flick video player is not updated from 13 months . please release a new version of it. so we can use .

[2022-06-20 04:54] geekruchika commented on #166
Currently no.

[2022-06-20 04:55] geekruchika commented on #173
We are on it.

[2022-06-22 06:35] #173 closed, assigned to nobody

[2022-06-23 03:39] atishpaul commented on #170
Hi.
The default setting is already set to Autoplay. So, You do not need to set it. and if you want to mute on the start of the video, Use this:

[code]

[2022-06-23 16:32] EduardEddy opened #183 "Does not play the video on iphone"
I uses flick_video_player but on iphone only sounds the video but does not play that

[2022-06-28 13:19] Wadideployer opened #184 "Is this package compatible with version 3?"

[2022-06-29 19:55] Inihood1 opened #185 "Video end callback"
Please add video callback to detect when video has ended

[2022-07-05 12:59] geekruchika commented on #160
It's merged.

[2022-07-05 12:59] #160 closed

[2022-07-05 13:17] geekruchika commented on #167
Please share the code snippet. Examples are working properly.

[2022-07-05 13:20] geekruchika commented on #159
This will be an enhancement. Currently, it's behaving like normal players. You can customize it by forking and updating Play button on press.

[2022-07-05 13:21] geekruchika commented on #158
Closing this as didn't get any response. Please feel free to open.

[2022-07-05 15:45] AimanKyo97 opened #186 "Add Header authorization"
How to add Header for Flick video URL?

@vishna @mrinaljain @gauravguha @ManuSekhon @geekruchika

[2022-07-07 06:17] amanchauhan06 commented on #183
https://user-images.githubusercontent.com/48275253/177704527-1f34c5f8-27f9-4896-94e5-ef879409424a.mp4

It seems to work fine on iOS in the example. Please refer the video.
If the issue persist please share the code snippet so that we can have a look at it.

[2022-07-07 06:20] rohitprajapatii commented on #185
`
  /// Video end callback, change the video in this callback.
  Function? onVideoEnd;
`
There is a video end callback named 'onVideoEnd' in the FlickManager.

[2022-07-07 06:42] Inihood1 commented on #185
Seen. Thank you. I have another question which is not related to this topic but is there a way I can pre-burfer videos in a listview builder before they are shown on screen?

[2022-07-07 07:03] geekruchika commented on #186
https://github.com/flutter/plugins/pull/2074/files#diff-e534c460662d39cc715c4eed77a31c3fL34

video_player will soon have it.  Once they will add, we can update here as well.

[2022-07-07 07:04] geekruchika commented on #185
Currently, we don't have caching setup. So it's not supported yet.

[2022-07-07 07:11] geekruchika commented on #167
Closing this PR. Feel free to open if issue still persists.

[2022-07-07 07:11] #167 closed

[2022-07-07 07:11] #159 closed

[2022-07-15 08:38] ihorkozar commented on #172
@Ashish-Raturi Did you find a solution?

[2022-07-15 12:31] Ashish-Raturi commented on #172
@ihorkozar use different plugin https://pub.dev/packages/youtube_player_flutter

[2022-07-15 22:35] RoyalCoder88 opened #187 "Feed player + controls"
Hi friends,

I'm using Flick video player for feed purposes but I want to show also controls on the video player, how can I achieve this, thanks in advance!

[2022-07-28 01:25] atishpaul opened #188 "Feature request : Customized FlickPlayToggle"
Hi, thanks for this awesome video player, In addition to this i think we should get customized `FlickPlayToggle`.

[2022-08-03 05:32] theAkshay60 opened #189 "Unable to change color for buffer circularprogressIndicator"
Should be able to change the color for buffer circularprogress indicator

[2022-08-08 13:15] AhmedAbouelkher opened #190 "How to change HLS video resulotion?"
I have a very simple HLS video to stream [demo](https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8), and I need the option to change video quality manually (like youtube for example)

[2022-08-09 05:04] geekruchika commented on #183
Closing this as it can't be reproducible.

[2022-08-09 05:04] #183 closed

[2022-08-09 05:05] geekruchika commented on #170
Hope this worked else feel free to open this issue.

@atishpaul Thanks.

[2022-08-09 05:05] #170 closed

[2022-08-09 05:08] geekruchika commented on #145
Latest Flick player version.
flick_video_player: ^0.5.0

[2022-08-09 13:01] amanchauhan06 commented on #184
Yes It is compatible with flutter version 3

[2022-08-09 13:08] amanchauhan06 commented on #189
@theAkshay60
![code](https://user-images.githubusercontent.com/48275253/183654381-4e35efe3-3556-43a9-8131-efe0dc569747.png)

You can give **bufferingChild** as a parameter in  **FlickVideoBuffer** and you can give any widget you want as a buffer widget.

[2022-08-09 13:17] amanchauhan06 commented on #188
Hello sir,

FlickPlayToggle is completely customisable you can give the widget of your choice to anything as you can see in the attached code snippet

![flickPlayToggle](https://user-images.githubusercontent.com/48275253/183656632-2f64d312-6f0a-4574-9d10-7adec9f5f2a4.png)

[2022-08-09 13:19] amanchauhan06 commented on #143
This was not reproducible for us sir. Can you please share the code snippet where you were trying to use this.

[2022-08-10 06:46] amanchauhan06 commented on #187
In "**FlickMultiPlayer**" you must be giving controls like this (on line no. 75 to 78 and 86):
![flickmultiplayer](https://user-images.githubusercontent.com/48275253/183833221-f79870c2-bc92-4aa7-9733-b6d1e05caab5.png)
In **FeedPlayerPortraitControls** you can give additional controls of your choice as mentioned in the above comment.

[2022-08-10 10:51] AhmedAbouelkher commented on #190
Youtube is using Dash and HLS file formats and doesn't upload different video quality

[2022-08-10 10:51] #190 closed

[2022-08-10 11:52] RoyalCoder88 commented on #187
Hi @amanchauhan06 I figure out I found a solution from the their example and with your help ;)

[2022-08-10 11:52] #187 closed

[2022-08-17 16:59] alihabbash commented on #189
You would add a `playerLoadingFallback` to be a `CircularProgressIndicator` with the custom color you want as follow:

[code]

[2022-08-22 03:39] ahmedmo112 opened #192 "The network video takes too long time to load"
i'm trying to get network video to play at my application and it takes more than 20s to start, is There is any solution to load the video faster?

Note: it's e-learning app

[2022-08-26 03:57] weadd0e1 commented on #71
I have the same problem, how to solve it?

[2022-08-29 20:18] tibfox commented on #7
for everyone who has the same issue: You can use the videoFit attribute in FlickVideoWithControls to contstraint the video into a defined height:
[code]

[2022-09-13 12:53] #189 closed

[2022-09-13 12:53] #188 closed

[2022-09-13 12:55] #125 closed

[2022-09-13 12:57] geekruchika commented on #162
Please share the code snippet and output.

[2022-09-13 12:57] geekruchika commented on #151
It's resolved.

[2022-09-13 12:57] #151 closed

[2022-09-13 13:00] #108 closed

[2022-09-13 13:00] #140 closed

[2022-09-13 13:01] geekruchika commented on #157
Closing this. Feel free to reopen.

[2022-09-13 13:01] #157 closed

[2022-09-13 19:24] knowsach commented on #101
@boris-ilic  Can you use `flick_video_player 0.5.0` and reproduce this issue ?
I tried running `flick_video_player` example but could not reproduce this issue.

Are you able to reproduce this issue with `flick_video_player` example if not can you create a repo with minimal code to reproduce the issue ?

[2022-09-15 04:24] holkarsanyukta opened #194 "PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: Source error, null, null) , I am getting error while playing. The video is in mp4 format."

[2022-09-15 12:07] rohitprajapatii commented on #85
This may help.
`Future<void> skipToAPosition(Duration duration) async {
    flickManager.flickVideoManager?.addListener(() async {
      if (flickManager
              .flickVideoManager?.videoPlayerValue?.position.inSeconds ==
          0) {
        await flickManager.flickControlManager?.seekTo(duration);
      }
    });
  }`

Pass the duration for any video you want to start at a specific posit

[2022-09-18 16:35] bawantha opened #195 "How to set automatically screen rotate according to user's desire"

[2022-09-26 11:49] honeykinng345 opened #196 "Video watching minutes"
Hey, team please tell me one thing I want to get the total video minutes and watch minutes it's that possible?

[2022-09-28 16:04] ABAKAR-IBRAHIM opened #197 "flink-video-player issue on IOS 16"
video playing with no issue on android devices and ios 15 and below, but after ios 16, it stopped working.

[2022-10-08 08:55] zhangdongyang opened #198 "iOS端设置倍速以后 不断的点击暂停和播放，进度会在1.0和设置的倍速之间切换"
iOS端设置倍速以后 不断的点击暂停和播放，进度会在1.0和设置的倍速之间切换；并且拖拽进度以后，设置的视频播放倍速恢复1.0，此时打印的视频播放器的倍速还是设置的倍速；在拖拽进度结束的方法里面重新设置播放倍速无效

[2022-10-23 04:26] vishalpatel1327 commented on #69
Any solution for that ?
i need same.

[2022-10-23 17:10] parsadoc opened #199 "Switch video in player (play next video)"
How can I switch the video to the next one or prev?
I want to show a list of videos and then when a user taps on any video, immediately play that video in the player

[2022-10-30 19:14] adrianvintu commented on #34
It happens to me as well - Galaxy Tab A8 Android 11.

Steps to reproduce:
1. download the code from https://github.com/GeekyAnts/flick-video-player/
2. run on tablet - all videos play
3. change DefaultPlayer url to my video
[code]
4. error, cannot play - see attached log

[log.zip](https://github.com/GeekyAnts/flick-video-player/files/9896640/log.zip)

Related issue: https://github.com/google/ExoP

[2022-11-01 19:33] renrael-yzal opened #200 "video is getting stuck, if we play music with other (app) music players in mobile in background, while it is in play state!"
Description:-

I have been using package for social media kind of application development.
Lets say I'm using some music player and application that I have developed using this package at same time! and
some video feed came up on my screen.

1. If video is in playing state on screen (audio is muted), It is interrupting the music player and making it paused!

2. After first case, if I start playing

[2022-11-04 13:32] teaka-xss opened #202 "How to get information such as progress bar, volume"
I don't know how to get the progress bar, volume, etc.

[2022-11-04 14:07] teaka-xss commented on #202
Thanks, it's resolved.

[2022-11-04 14:07] #202 closed

[2022-11-06 07:59] teaka-xss commented on #196
flickVideoManager.videoPlayerValue?.position

[2022-11-08 08:38] abdullah230695 commented on #97
how to initialise flickmanager when using this ?

[2022-11-28 14:34] widike opened #203 "Request: Is there any option or workaround to play a video backwards?"
The idea is to create some kind of boomerang playback effect.

The flutter video player does not support this: https://github.com/flutter/flutter/issues/27591